<section class="about-approach">
    <div class="about-approach__bg">
        <img src="/images/about-approach.svg" alt="" class="about-approach__bg-image">
    </div>
    <div class="about-approach__content">
        <div class="about-approach__left-col">
            <h2 class="about-approach__heading">
                наш подход
            </h2>
        </div>
        <div class="about-approach__right-col">
            <div class="about-approach__text">
                Наша работа объединяет высокие стандарты качества, социальную ответственность и инновационные подходы к
                проектированию, капитальному ремонту и реконструкции промышленных, жилых и инфраструктурных объектов
            </div>
        </div>
    </div>
</section>