<section class="about-numbers" id="numbers">
    <div class="about-numbers__content">
        <div class="about-numbers__left-col">
            <h2 class="about-numbers__heading">
                мы в цифрах
            </h2>
            <div class="about-numbers__image-wrapper">
                <img src="/images/about-numbers.webp" alt="" class="about-numbers__image">
            </div>
        </div>
        <div class="about-numbers__right-col">
            <ul class="about-numbers__list">
                <li class="about-numbers__list-item">
                    <div class="about-numbers__card">
                        <div class="about-numbers__card-amount">
                            >10 <span>лет</span>
                        </div>
                        <div class="about-numbers__card-text">
                            успешной работы
                        </div>
                    </div>
                </li>
                <li class="about-numbers__list-item">
                    <div class="about-numbers__card">
                        <div class="about-numbers__card-amount">
                            566 000 <span>м&#178;</span>
                        </div>
                        <div class="about-numbers__card-text">
                            построено
                        </div>
                    </div>
                </li>
                <li class="about-numbers__list-item">
                    <div class="about-numbers__card">
                        <div class="about-numbers__card-amount">
                            38 <span>объектов</span>
                        </div>
                        <div class="about-numbers__card-text">
                            завершено
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>