<section class="about-intro js-intro">
    <div class="about-intro__bg">


        <picture>
            <source srcset="/images/about-intro-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/about-intro.webp" alt="MDN" class="about-intro__bg-image" />
        </picture>
    </div>
    <div class="about-intro__content">
        <h1 class="about-intro__heading js-intro-heading">
            строительство и Инженерия с высоким уровнем ответственности и амбиций
        </h1>
        <a href="#numbers" class="about-intro__scroll js-intro-top-item">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#scroll-down"></use>
            </svg>
        </a>
        <div class="about-intro__text js-intro-top-item">
            Мы&nbsp;&mdash; одна из&nbsp;ведущих строительных организаций Республики Татарстан, работающий на&nbsp;рынке
            с&nbsp;2014&nbsp;года,
            и&nbsp;гордимся своей репутацией надёжного партнёра в&nbsp;строительстве объектов различной сложности.
        </div>
    </div>
</section>