<section class="advantages">
    <div class="advantages__content">
        <h2 class="advantages__heading">
            преимущества
        </h2>
        <div class="advantages__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="advantages__slider-card">
                            <h3 class="advantages__slider-card-title">
                                Скорость
                            </h3>
                            <div class="advantages__slider-card-text">
                                Быстрая реакция и&nbsp;эффективное управление проектами позволяют нам завершать задачи
                                в&nbsp;срок
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantages__slider-card">
                            <h3 class="advantages__slider-card-title">
                                Качество
                            </h3>
                            <div class="advantages__slider-card-text">
                                Мы&nbsp;гарантируем высокое качество выполняемых работ и&nbsp;применяемого оборудования

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantages__slider-card">
                            <h3 class="advantages__slider-card-title">
                                надежность
                            </h3>
                            <div class="advantages__slider-card-text">
                                Мы&nbsp;дорожим своей репутацией и&nbsp;клиентами. Нам доверяют крупнейшие игроки рынка
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantages__slider-card">
                            <h3 class="advantages__slider-card-title">
                                Результат
                            </h3>
                            <div class="advantages__slider-card-text">
                                Мы&nbsp;фокусируемся на&nbsp;достижении конкретных целей и&nbsp;успешном завершении
                                проектов
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>