<section class="article js-intro">
    <div class="article__content">
        <a href="#" class="article__back-link">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#back"></use>
            </svg>
            Пресс-центр
        </a>
        <div class="article__wrapper">


            <div class="article__info js-intro-fade-first-order">
                НИА «Нижний Новгород», 28 декабря 2023
            </div>
            <div class="article__top-row">
                <h1 class="article__heading js-intro-heading">
                    ООО «Стройинжиниринг» построит школу для одаренных детей на Бору
                </h1>
                <div class="article__sharing js-intro-fade-first-order">
                    <ul class="article__sharing-list">
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="article__sharing-list-item">
                            <a href="#" class="article__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="article__image-wrapper js-intro-fade-second-order">
            <img src="/images/article.webp" alt="" class="article__image">
        </div>
        <div class="article__row">
            <div class="article__left-col js-intro-secondary-item">
                <div class="article__summary">
                    <h3 class="article__summary-heading">
                        содержание
                    </h3>
                    <ul class="article__summary-list">
                        <li class="article__summary-list-item">
                            <a href="#negin" class="article__summary-link">
                                Школа им. Е.А. Негина
                            </a>
                        </li>
                        <li class="article__summary-list-item">
                            <a href="#education" class="article__summary-link">
                                обучение
                            </a>
                        </li>
                        <li class="article__summary-list-item">
                            <a href="#entertainment" class="article__summary-link">
                                развлечения
                            </a>
                        </li>
                        <li class="article__summary-list-item">
                            <a href="#end" class="article__summary-link">
                                Заключение
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="article__right-col js-intro-secondary-item">
                <div class="article__text-content">
                    <h2 id="negin">
                        Школа им. Е.А. Негина для одаренных детей
                    </h2>
                    <p>
                        Правительство Нижегородской области заключило контракт на&nbsp;строительство школы для <a
                            href="#">одарённых
                            детей</a> на&nbsp;Бору. Об&nbsp;этом сообщается в&nbsp;Telegram-канале проектного офиса
                        стратегии
                        развития региона.
                        Напомним, школа разместится на&nbsp;участке площадью
                        83&nbsp;312&nbsp;кв.&nbsp;м&nbsp;по&nbsp;улице Перевоз. Подрядчиком было
                        выбрано ООО &laquo;ИСК &laquo;Стройинжиниринг&raquo;.
                    </p>
                    <ul>
                        <li>
                            пункт маркированного списка 1
                        </li>
                        <li>
                            пункт маркированного списка 2
                        </li>
                        <li>
                            пункт маркированного списка 3
                        </li>
                    </ul>
                    <h2 id="education">
                        Школа им. Е.А. Негина для одаренных детей
                    </h2>
                    <p>
                        Правительство Нижегородской области заключило контракт на&nbsp;строительство школы для <a
                            href="#">одарённых
                            детей</a> на&nbsp;Бору. Об&nbsp;этом сообщается в&nbsp;Telegram-канале проектного офиса
                        стратегии
                        развития региона. Напомним, школа разместится на&nbsp;участке площадью
                        83&nbsp;312&nbsp;кв.&nbsp;м&nbsp;по&nbsp;улице Перевоз. Подрядчиком было выбрано ООО &laquo;ИСК
                        &laquo;Стройинжиниринг&raquo;.
                    </p>
                    <ol>
                        <li>
                            пункт нумерованного списка 1
                        </li>
                        <li>
                            пункт нумерованного списка 2
                        </li>
                        <li>
                            пункт нумерованного списка 3
                        </li>
                    </ol>
                    <h3 id="entertainment">
                        Школа им. Е.А. Негина для одаренных детей
                    </h3>
                    <p>
                        Правительство Нижегородской области заключило контракт на&nbsp;строительство школы для <a
                            href="#">одарённых
                            детей</a> на&nbsp;Бору. Об&nbsp;этом сообщается в&nbsp;Telegram-канале проектного офиса
                        стратегии
                        развития региона. Напомним, школа разместится на&nbsp;участке площадью
                        83&nbsp;312&nbsp;кв.&nbsp;м&nbsp;по&nbsp;улице Перевоз. Подрядчиком было выбрано ООО &laquo;ИСК
                        &laquo;Стройинжиниринг&raquo;.
                    </p>
                    <img src="/images/article-content.webp" alt="">
                    <h2 id="end">
                        Заключение
                    </h2>
                    <p>
                        Учреждение будет носить имя Евгения Аркадьевича Негина&nbsp;&mdash; учёного-физика, доктора
                        технических
                        наук, который родился в&nbsp;городе Бор, учился в&nbsp;Горьком и&nbsp;почти 50&nbsp;лет
                        проработал в&nbsp;ядерном центре
                        в&nbsp;Сарове. Учреждение будет носить имя Евгения Аркадьевича Негина&nbsp;&mdash;
                        учёного-физика, доктора
                        технических наук, который родился в&nbsp;городе Бор, учился в&nbsp;Горьком и&nbsp;почти
                        50&nbsp;лет проработал
                        в&nbsp;ядерном центре в&nbsp;Сарове.
                    </p>
                    <p>
                        В&nbsp;рамках проекта будут построены круглогодичная школа-пансион на&nbsp;800&nbsp;мест,
                        пансион на&nbsp;600&nbsp;мест,
                        спортивная инфраструктура, комплекс лабораторий и&nbsp;студий, современные мастерские.
                    </p>
                    <p>
                        Ранее сообщалось, что на&nbsp;строительство школы
                        в&nbsp;2024&ndash;2025&nbsp;гг.&nbsp;в&nbsp;общей сложности будет
                        направлено 4&nbsp;млрд рублей.
                    </p>
                </div>
                <a href="#" class="article__source">
                    перейти к источнику
                </a>
            </div>
        </div>
    </div>
</section>