<section class="career">

    <div class="career__content">
        <div class="career__left-col">
            <h2 class="career__heading">
                карьера
            </h2>
            <div class="career__text-content">
                <h3 class="career__secondary-heading">
                    Карьера в ИСК СтройИнжиниринг
                </h3>
                <div class="career__text">
                    Присоединяйтесь к&nbsp;команде &laquo;ИСК СтройИнжиниринг&raquo; и&nbsp;строите свою карьеру
                    в&nbsp;одной из&nbsp;ведущих строительных
                    компаний
                </div>
                <a href="#" class="career__link">
                    Подробнее
                </a>
            </div>
            <img src="/images/career.webp" alt="" class="career__image">
            <ul class="career__list">
                <li class="career__list-item">
                    <div class="career__card">
                        <div class="career__card-amount">
                            > 25 вакансий
                        </div>
                        <div class="career__card-text">
                            в различных областях
                        </div>
                    </div>
                </li>
                <li class="career__list-item">
                    <div class="career__card">
                        <div class="career__card-amount">
                            > 500 человек
                        </div>
                        <div class="career__card-text">
                            уже работают в штате
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>