<section class="career-intro js-intro">
    <div class="career-intro__bg">
        <picture>
            <source srcset="/images/career-intro-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/career-intro.webp" alt="MDN" class="career-intro__bg-image">
        </picture>
    </div>
    <div class="career-intro__content">
        <a href="#" class="career-intro__back js-intro-fade-first-order">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#back"></use>
            </svg>
            о компании
        </a>
        <h1 class="career-intro__heading js-intro-heading">
            постройте успешную<br> Карьеру в ИСК<br> СтроиИнжиниринг
        </h1>
        <a href="#subjects" class="career-intro__scroll js-intro-top-item">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#scroll-down"></use>
            </svg>
        </a>
        <div class="career-intro__text js-intro-top-item">
            Наши сотрудники – это настоящие профессионалы, создающие самые сложные и масштабные проекты республики
            Татарстан
        </div>

    </div>
</section>