<section class="career-approach">
    <div class="career-approach__content">
        <h2 class="career-approach__heading">
            наш подход
        </h2>
        <img src="/images/career-approach.webp" alt="" class="career-approach__image">
        <div class="career-approach__right-col">
            <div class="career-approach__large-text">
                Мы стремимся к постоянному развитию и повышению конкурентоспособности за счёт качества и надёжности.
                вас ждёт дружный и сплочённый коллектив, готовый к новым вызовам и достижениям.
            </div>
            <a href="#" class="career-approach__link">
                смотреть проекты
            </a>
        </div>
    </div>
</section>