<section class="career-vacancies">
    <div class="carerr-vacancies__content">
        <div class="career-vacancies__left-col">
            <h2 class="career-vacancies__heading">
                вакансии
            </h2>
            <div class="career-vacancies__contacts">
                <h3 class="career-vacancies__contacts-title">
                    Дирекция по управлению<br> персоналом:
                </h3>
                <div class="career-vacancies__contacts-links">
                    <a href="tel:+78432213555" class="career-vacancies__contacts-link">
                        8 (843) 221-35-55
                    </a>
                    <a href="mailto:info@isksi.ru" class="career-vacancies__contacts-link">
                        info@isksi.ru
                    </a>
                </div>
                <a href="#" class="career-vacancies__contacts-watch-vacancies">
                    смотреть вакансии на hh.ru
                </a>
            </div>
        </div>
        <div class="career-vacancies__right-col">
            <ul class="career-vacancies__list">
                <li class="career-vacancies__list-item">
                    <div class="career-vacancies__accordion">
                        <button class="career-vacancies__accordion-btn" type="button">
                            <span class="career-vacancies__accordion-btn-text">
                                Аналитик
                            </span>
                            <span class="career-vacancies__accordion-btn-icon">

                            </span>
                        </button>
                        <div class="career-vacancies__accordion-content">
                            <div class="career-vacancies__accordion-content-inner">
                                <div class="career-vacancies__wrapper">
                                    <div class="career-vacancies__blocks">
                                        <div class="career-vacancies__block">
                                            <h3 class="career-vacancies__block-title">
                                                Обязанности
                                            </h3>
                                            <ul class="career-vacancies__block-list">
                                                <li class="career-vacancies__block-list-item">
                                                    Участие в проектах по внедрению 1С в компаниях федерального уровня
                                                    (никаких установок ИТС и т.п., только крупные, знаковые проекты)
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Участие в пресейлах, подготовка и проведение презентаций по решениям
                                                    1С
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Техническая поддержка пользователей в процессе ОЭ и ОПЭ
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career-vacancies__block">
                                            <h3 class="career-vacancies__block-title">
                                                Условия
                                            </h3>
                                            <ul class="career-vacancies__block-list">
                                                <li class="career-vacancies__block-list-item">
                                                    Работа на одном из объектов: ЖК Life-Ботанический Сад, ЖК
                                                    Life-Кутузовский, ЖК Life-Варшавская
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    График работы с понедельника по пятницу с 099:330 до 188:330
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Социальный пакет: ДМС, корпоративный спорт (йога, плавание,
                                                    волейбол, кроссфит), обучение (внешнее и внутреннее), материальная
                                                    помощь, мобильная связь, корпоративная библиотека, льгота на
                                                    проживание в апарт-отелях YE’S и приобретение объектов недвижимости
                                                    от компании
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="career-vacancies__callback-link">
                                        откликнуться
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="career-vacancies__list-item">
                    <div class="career-vacancies__accordion">
                        <button class="career-vacancies__accordion-btn" type="button">
                            <span class="career-vacancies__accordion-btn-text">
                                Инженер проектироващик
                            </span>
                            <span class="career-vacancies__accordion-btn-icon">

                            </span>
                        </button>
                        <div class="career-vacancies__accordion-content">
                            <div class="career-vacancies__accordion-content-inner">
                                <div class="career-vacancies__wrapper">
                                    <div class="career-vacancies__blocks">
                                        <div class="career-vacancies__block">
                                            <h3 class="career-vacancies__block-title">
                                                Обязанности
                                            </h3>
                                            <ul class="career-vacancies__block-list">
                                                <li class="career-vacancies__block-list-item">
                                                    Участие в проектах по внедрению 1С в компаниях федерального уровня
                                                    (никаких установок ИТС и т.п., только крупные, знаковые проекты)
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Участие в пресейлах, подготовка и проведение презентаций по решениям
                                                    1С
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Техническая поддержка пользователей в процессе ОЭ и ОПЭ
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career-vacancies__block">
                                            <h3 class="career-vacancies__block-title">
                                                Условия
                                            </h3>
                                            <ul class="career-vacancies__block-list">
                                                <li class="career-vacancies__block-list-item">
                                                    Работа на одном из объектов: ЖК Life-Ботанический Сад, ЖК
                                                    Life-Кутузовский, ЖК Life-Варшавская
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    График работы с понедельника по пятницу с 099:330 до 188:330
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Социальный пакет: ДМС, корпоративный спорт (йога, плавание,
                                                    волейбол, кроссфит), обучение (внешнее и внутреннее), материальная
                                                    помощь, мобильная связь, корпоративная библиотека, льгота на
                                                    проживание в апарт-отелях YE’S и приобретение объектов недвижимости
                                                    от компании
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="career-vacancies__callback-link">
                                        откликнуться
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="career-vacancies__list-item">
                    <div class="career-vacancies__accordion">
                        <button class="career-vacancies__accordion-btn" type="button">
                            <span class="career-vacancies__accordion-btn-text">
                                Инженер по эксплуатации
                            </span>
                            <span class="career-vacancies__accordion-btn-icon">

                            </span>
                        </button>
                        <div class="career-vacancies__accordion-content">
                            <div class="career-vacancies__accordion-content-inner">
                                <div class="career-vacancies__wrapper">
                                    <div class="career-vacancies__blocks">
                                        <div class="career-vacancies__block">
                                            <h3 class="career-vacancies__block-title">
                                                Обязанности
                                            </h3>
                                            <ul class="career-vacancies__block-list">
                                                <li class="career-vacancies__block-list-item">
                                                    Участие в проектах по внедрению 1С в компаниях федерального уровня
                                                    (никаких установок ИТС и т.п., только крупные, знаковые проекты)
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Участие в пресейлах, подготовка и проведение презентаций по решениям
                                                    1С
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Техническая поддержка пользователей в процессе ОЭ и ОПЭ
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career-vacancies__block">
                                            <h3 class="career-vacancies__block-title">
                                                Условия
                                            </h3>
                                            <ul class="career-vacancies__block-list">
                                                <li class="career-vacancies__block-list-item">
                                                    Работа на одном из объектов: ЖК Life-Ботанический Сад, ЖК
                                                    Life-Кутузовский, ЖК Life-Варшавская
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    График работы с понедельника по пятницу с 099:330 до 188:330
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Социальный пакет: ДМС, корпоративный спорт (йога, плавание,
                                                    волейбол, кроссфит), обучение (внешнее и внутреннее), материальная
                                                    помощь, мобильная связь, корпоративная библиотека, льгота на
                                                    проживание в апарт-отелях YE’S и приобретение объектов недвижимости
                                                    от компании
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="career-vacancies__callback-link">
                                        откликнуться
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="career-vacancies__list-item">
                    <div class="career-vacancies__accordion">
                        <button class="career-vacancies__accordion-btn" type="button">
                            <span class="career-vacancies__accordion-btn-text">
                                Бухгалтер
                            </span>
                            <span class="career-vacancies__accordion-btn-icon">

                            </span>
                        </button>
                        <div class="career-vacancies__accordion-content">
                            <div class="career-vacancies__accordion-content-inner">
                                <div class="career-vacancies__wrapper">
                                    <div class="career-vacancies__blocks">
                                        <div class="career-vacancies__block">
                                            <h3 class="career-vacancies__block-title">
                                                Обязанности
                                            </h3>
                                            <ul class="career-vacancies__block-list">
                                                <li class="career-vacancies__block-list-item">
                                                    Участие в проектах по внедрению 1С в компаниях федерального уровня
                                                    (никаких установок ИТС и т.п., только крупные, знаковые проекты)
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Участие в пресейлах, подготовка и проведение презентаций по решениям
                                                    1С
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Техническая поддержка пользователей в процессе ОЭ и ОПЭ
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career-vacancies__block">
                                            <h3 class="career-vacancies__block-title">
                                                Условия
                                            </h3>
                                            <ul class="career-vacancies__block-list">
                                                <li class="career-vacancies__block-list-item">
                                                    Работа на одном из объектов: ЖК Life-Ботанический Сад, ЖК
                                                    Life-Кутузовский, ЖК Life-Варшавская
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    График работы с понедельника по пятницу с 099:330 до 188:330
                                                </li>
                                                <li class="career-vacancies__block-list-item">
                                                    Социальный пакет: ДМС, корпоративный спорт (йога, плавание,
                                                    волейбол, кроссфит), обучение (внешнее и внутреннее), материальная
                                                    помощь, мобильная связь, корпоративная библиотека, льгота на
                                                    проживание в апарт-отелях YE’S и приобретение объектов недвижимости
                                                    от компании
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="career-vacancies__callback-link">
                                        откликнуться
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>