<section class="ceo">
    <div class="ceo__bg-image-wrapper">


        <picture>
            <source srcset="/images/ceo-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/ceo.webp" alt="MDN" class="ceo__image" />
        </picture>
    </div>
    <div class="ceo__content">
        <h2 class="ceo__heading">
            Мы строим важные объекты с&nbsp;использованием современных технологий и&nbsp;материалов, всегда учитывая
            интересы заказчика
        </h2>
        <div class="ceo__info">
            <div class="ceo__name">
                Рамиль Фаттахов
            </div>
            <div class="ceo__role">
                Генеральный директор ИСК СтройИнжиниринг
            </div>
        </div>
    </div>
</section>