<section class="certificates js-intro">
    <div class="certificates__content">
        <a href="#" class="certificates__back-link js-intro-fade-first-order">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#back"></use>
            </svg>
            О компании
        </a>
        <h1 class="certificates__heading js-intro-heading">
            Лицензии и<br> сертификаты
        </h1>
        <ul class="certificates__list">
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="certificates__list-item js-intro-secondary-item">
                <a href="#" class="certificates__card">
                    <div class="certificates__card-bg"></div>
                    <div class="certificates__card-content">
                        <h3 class="certificates__card-title">
                            Сертификат соответствия СРО РНП ССРТ
                        </h3>
                        <div class="certificates__card-size">
                            pdf, 230 кб
                        </div>
                        <div class="certificates__card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <button class="certificates__show-all js-intro-secondary-item" type="button">
            <span>
                показать ещё
            </span>
            <span>
                cкрыть
            </span>
        </button>
    </div>
</section>