<section class="clients js-intro">
    <div class="clients__content">
        <h1 class="clients__heading js-intro-heading">
            Клиенты<br> и партнеры
        </h1>
        <ol class="clients__list">
            <li class="clients__list-item js-intro-secondary-item">
                <div class="clients__card">
                    <div class="clients__card-title-wrapper">
                        <h3 class="clients__card-title">
                            Мэрия города Казани
                        </h3>
                        <div class="clients__card-text">
                            Официальный представитель местного самоуправления города Казани
                        </div>
                    </div>
                    <div class="clients__card-categories">
                        <div class="clients__card-category">
                            Социальные объекты
                        </div>
                        <div class="clients__card-category">
                            объекты здравоохранения
                        </div>
                    </div>
                    <div class="clients__card-logo-wrapper">
                        <img src="/images/clients/1.webp" alt="" class="clients__card-logo-image">
                    </div>
                </div>
            </li>
            <li class="clients__list-item js-intro-secondary-item">
                <div class="clients__card">
                    <div class="clients__card-title-wrapper">
                        <h3 class="clients__card-title">
                            Мэрия города Казани
                        </h3>
                        <div class="clients__card-text">
                            Официальный представитель местного самоуправления города Казани
                        </div>
                    </div>
                    <div class="clients__card-categories">
                        <div class="clients__card-category">
                            Социальные объекты
                        </div>
                        <div class="clients__card-category">
                            объекты здравоохранения
                        </div>
                    </div>
                    <div class="clients__card-logo-wrapper">
                        <img src="/images/clients/2.webp" alt="" class="clients__card-logo-image">
                    </div>
                </div>
            </li>
            <li class="clients__list-item js-intro-secondary-item">
                <div class="clients__card">
                    <div class="clients__card-title-wrapper">
                        <h3 class="clients__card-title">
                            Мэрия города Казани
                        </h3>
                        <div class="clients__card-text">
                            Официальный представитель местного самоуправления города Казани
                        </div>
                    </div>
                    <div class="clients__card-categories">
                        <div class="clients__card-category">
                            Социальные объекты
                        </div>
                        <div class="clients__card-category">
                            объекты здравоохранения
                        </div>
                    </div>
                    <div class="clients__card-logo-wrapper">
                        <img src="/images/clients/3.webp" alt="" class="clients__card-logo-image">
                    </div>
                </div>
            </li>
            <li class="clients__list-item js-intro-secondary-item">
                <div class="clients__card">
                    <div class="clients__card-title-wrapper">
                        <h3 class="clients__card-title">
                            Дирекция по строительству подземных транспортных сооружений РТ
                        </h3>
                        <div class="clients__card-text">
                            Официальный представитель местного самоуправления города Казани
                        </div>
                    </div>
                    <div class="clients__card-categories">
                        <div class="clients__card-category">
                            Социальные объекты
                        </div>
                        <div class="clients__card-category">
                            объекты здравоохранения
                        </div>
                    </div>
                    <div class="clients__card-logo-wrapper">
                        <img src="/images/clients/4.webp" alt="" class="clients__card-logo-image">
                    </div>
                </div>
            </li>
            <li class="clients__list-item js-intro-secondary-item">
                <div class="clients__card">
                    <div class="clients__card-title-wrapper">
                        <h3 class="clients__card-title">
                            инвестиционно-строительное управление республики татарстан
                        </h3>
                        <div class="clients__card-text">
                            Официальный представитель местного самоуправления города Казани
                        </div>
                    </div>
                    <div class="clients__card-categories">
                        <div class="clients__card-category">
                            Социальные объекты
                        </div>
                        <div class="clients__card-category">
                            объекты здравоохранения
                        </div>
                    </div>
                    <div class="clients__card-logo-wrapper">
                        <img src="/images/clients/5.webp" alt="" class="clients__card-logo-image">
                    </div>
                </div>
            </li>
        </ol>
    </div>
</section>