<section class="competence">
    <div class="competence__bg">
        <div class="competence__bg-items">
            <div class="competence__bg-item">
                <img src="/images/competence.webp" alt="" class="competence__bg-image">
            </div>
            <div class="competence__bg-item">
                <img src="/images/competence.webp" alt="" class="competence__bg-image">
            </div>
            <div class="competence__bg-item">
                <img src="/images/competence.webp" alt="" class="competence__bg-image">
            </div>
            <div class="competence__bg-item">
                <img src="/images/competence.webp" alt="" class="competence__bg-image">
            </div>
            <div class="competence__bg-item">
                <img src="/images/competence.webp" alt="" class="competence__bg-image">
            </div>
        </div>
    </div>
    <div class="competence__content">
        <h2 class="competence__heading">
            Компетенции и услуги
        </h2>
        <ul class="competence__list">
            <li class="competence__list-item">
                <a href="#" class="competence__link">
                    Проектирование
                </a>
            </li>
            <li class="competence__list-item">
                <a href="#" class="competence__link">
                    Строительство
                </a>
            </li>
            <li class="competence__list-item">
                <a href="#" class="competence__link">
                    Ввод объекта в&nbsp;эксплуатацию
                </a>
            </li>
            <li class="competence__list-item">
                <a href="#" class="competence__link">
                    Реконструкция
                </a>
            </li>
            <li class="competence__list-item">
                <a href="#" class="competence__link">
                    Инженерные изыскания и&nbsp;кадастр
                </a>
            </li>
        </ul>
        <a href="#" class="competence__show-all">
            Смотреть все
        </a>
    </div>
</section>