<section class="competence">
    <div class="competence__bg">
        <div class="competence__bg-items">
            <div class="competence__bg-item">
                <img src="/images/competence/1.webp" alt="" class="competence__bg-image">
            </div>
            <div class="competence__bg-item">
                <img src="/images/competence/2.webp" alt="" class="competence__bg-image">
            </div>
            <div class="competence__bg-item">
                <img src="/images/competence/3.webp" alt="" class="competence__bg-image">
            </div>
            <div class="competence__bg-item">

            </div>
            <div class="competence__bg-item">

            </div>
        </div>
    </div>
    <div class="competence__content">
        <h2 class="competence__heading">
            Компетенции и услуги
        </h2>
        <ul class="competence__list">
            <li class="competence__list-item">
                <div class="competence__link">
                    Проектирование
                </div>
            </li>
            <li class="competence__list-item">
                <div class="competence__link">
                    Строительство
                </div>
            </li>
            <li class="competence__list-item">
                <div class="competence__link">
                    Ввод объектов в&nbsp;эксплуатацию
                </div>
            </li>
            <li class="competence__list-item">
                <div class="competence__link">
                    Реконструкция
                </div>
            </li>
            <li class="competence__list-item">
                <div class="competence__link">
                    Инженерные изыскания и&nbsp;кадастр
                </div>
            </li>
        </ul>
        {{!-- <a href="#" class="competence__show-all">
            Смотреть все
        </a> --}}
    </div>
</section>