<section class="consultation">
    <div class="consultation__content">
        <div class="consultation__left-col">

            <h2 class="consultation__heading">
                заявка на консультацию
            </h2>
            <img src="/images/consultation.webp" alt="" class="consultation__image">
            <div class="consultation__contacts">


                <a href="tel:+78432213555" class="consultation__phone">+7 (843) 221-35-55</a>
                <div class="consultation__text">
                    Свяжитесь по номеру телефона и получите бесплатную консультацию эксперта
                </div>
            </div>
        </div>
        <div class="consultation__right-col">
            <div class="consultation__secondary-heading-wrapper">


                <h3 class="consultation__secondary-heading">
                    Получите консультацию эксперта ИСК
                </h3>
                <div class="consultation__secondary-text">
                    Заполните поля и&nbsp;наш эксперт свяжется с&nbsp;вами в&nbsp;течение рабочего дня
                </div>
            </div>
            <form action="/" method="POST" class="consultation__form js-form success">
                <div class="consultation__form-fields">
                    <div class="consultation__form-field">
                        <div class="consultation__form-input-wrapper">
                            <input type="text" class="consultation__form-input" name="name" required=""
                                placeholder="Имя*">
                            <button class="consultation__form-input-reset js-clear-input" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#input-clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="consultation__form-field">
                        <div class="consultation__form-input-wrapper">
                            <input type="email" class="consultation__form-input" name="email" required=""
                                placeholder="E-mail*">
                            <button class="consultation__form-input-reset js-clear-input" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#input-clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="consultation__form-field">
                        <div class="consultation__form-input-wrapper">
                            <input type="text" class="consultation__form-input" name="comment"
                                placeholder="комментарий">
                            <button class="consultation__form-input-reset js-clear-input" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#input-clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="consultation__form-send">
                    <div class="consultation__form-policy">
                        Нажимая кнопку «Отправить заявку» вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
                    </div>
                    <button class="consultation__form-submit" type="submit">
                        отправить заявку
                    </button>
                </div>
                <div class="consultation__form-success">
                    <button class="consultation__form-reset" type="reset">
                        Заявка успешно<br> отправлена!
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#reset"></use>
                        </svg>
                    </button>
                </div>

            </form>
            <div class="consultation__form-else">
                или
            </div>
        </div>
    </div>
</section>