<section class="contacts js-intro">
    <div class="contacts__content">
        <h1 class="contacts__heading js-intro-heading">
            Контакты
        </h1>
        <ul class="contacts__list">
            <li class="contacts__list-item js-intro-top-item">
                <div class="contacts__card">
                    <h3 class="contacts__card-title">
                        адрес
                    </h3>
                    <div class="contacts__card-value">
                        РТ, Казань, ул.Гагарина, д.99
                    </div>
                </div>
            </li>
            <li class="contacts__list-item js-intro-top-item">
                <div class="contacts__card">
                    <h3 class="contacts__card-title">
                        телефон
                    </h3>
                    <a href="tel:+78432213555" class="contacts__card-value">
                        +7 (843) 221-35-55
                    </a>
                </div>
            </li>
            <li class="contacts__list-item js-intro-top-item">
                <div class="contacts__card">
                    <h3 class="contacts__card-title">
                        e-mail
                    </h3>
                    <a href="mailto:info@isksi.ru" class="contacts__card-value">
                        info@isksi.ru
                    </a>
                </div>
            </li>
        </ul>
        <div class="contacts__wrapper js-intro-fade-second-order">
            <div class="contacts__map" data-lat="55.836878" data-lng="49.077713"
                data-theme-url="/data/customization.json" data-zoom="14">
                <div class="contacts__map-element">

                </div>
            </div>

            <div class="contacts__form-wrapper">
                <form action="/" method="POST" class="contacts__form" id="contacts-form">
                    <h3 class="contacts__form-title">
                        Связаться с нами
                    </h3>
                    <div class="contacts__form-text">
                        Заполните поля и наш эксперт свяжется с вами в течение рабочего дня
                    </div>

                    <div class="contacts__form-fields">
                        <div class="contacts__form-field">
                            <div class="contacts__form-input-wrapper">
                                <input type="text" class="contacts__form-input" name="your-name" placeholder="Имя*"
                                    required="">
                            </div>
                        </div>
                        <div class="contacts__form-field">
                            <div class="contacts__form-input-wrapper">
                                <input type="text" class="contacts__form-input" name="your-company"
                                    placeholder="компания">
                            </div>
                        </div>
                        <div class="contacts__form-field contacts__form-field--fullwidth">
                            <div class="contacts__form-input-wrapper">
                                <input type="email" class="contacts__form-input" name="your-email" placeholder="E-mail*"
                                    required="">
                            </div>
                        </div>
                        <div class="contacts__form-field contacts__form-field--fullwidth">
                            <div class="contacts__form-input-wrapper">
                                <input type="text" class="contacts__form-input" name="your-comment"
                                    placeholder="комментарий">
                            </div>
                        </div>
                    </div>
                    <div class="contacts__form-policy">
                        Нажимая кнопку «Отправить заявку» вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
                    </div>
                    <button class="contacts__form-submit" type="submit">
                        отправить заявку
                    </button>
                </form>
                <div class="contacts__success">
                    <button class="contacts__success-cross" form="contacts-form" type="reset">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#cross"></use>
                        </svg>
                    </button>
                    <h3 class="contacts__success-heading">
                        Заявка успешно<br> отправлена!
                    </h3>
                    <div class="contacts__success-text">
                        Наш эксперт свяжется с вами в течение рабочего дня
                    </div>
                </div>
            </div>

        </div>
        <div class="contacts__requisites js-intro-fade-second-order">
            <div class="contacts__requisites-left-col">
                <h2 class="contacts__requisites-heading">
                    реквизиты
                </h2>
                <a href="#" class="contacts__requisites-download-card">
                    <div class="contacts__requisites-download-card-bg"></div>
                    <div class="contacts__requisites-download-card-content">
                        <h3 class="contacts__requisites-download-card-title">
                            Все реквизиты
                        </h3>
                        <div class="contacts__requisites-download-card-size">
                            pdf, 230 кб
                        </div>
                        <div class="contacts__requisites-download-card-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
            <div class="contacts__requisites-right-col">
                <ul class="contacts__requisites-list">
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <h3 class="contacts__requisites-card-title">
                                наименование:
                            </h3>
                            <div class="contacts__requisites-card-amount">
                                ООО Инвестиционная Строительная Корпорация «СтройИнжиниринг»
                            </div>
                        </div>
                    </li>
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <h3 class="contacts__requisites-card-title">
                                ИНН/КПП:
                            </h3>
                            <div class="contacts__requisites-card-amount">
                                1659073676/165901001
                            </div>
                        </div>
                    </li>
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <h3 class="contacts__requisites-card-title">
                                ОГРН:
                            </h3>
                            <div class="contacts__requisites-card-amount">
                                1071690037055
                            </div>
                        </div>
                    </li>
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <h3 class="contacts__requisites-card-title">
                                Расчетный счет:
                            </h3>
                            <div class="contacts__requisites-card-amount">
                                40702810362000022503
                            </div>
                        </div>
                    </li>
                    <li class="contacts__requisites-list-item">
                        <div class="contacts__requisites-card">
                            <h3 class="contacts__requisites-card-title">
                                Кор. счет:
                            </h3>
                            <div class="contacts__requisites-card-amount">
                                30101810600000000603
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>