<section class="experience">
    <div class="experience__content">
        <div class="experience__top-row">
            <div class="experience__left-col">
                <h2 class="experience__heading">
                    Проекты
                </h2>
                <div class="experience__count">
                    (38)
                </div>
            </div>
            <div class="experience__right-col">
                <h3 class="experience__secondary-heading">
                    Опыт, который говорит сам за&nbsp;себя
                </h3>
                <a href="#" class="experience__all-projects">
                    Все проекты
                </a>
            </div>
        </div>
        <div class="experience__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/1.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2010
                                </div>
                                <h4 class="experience__slider-card-title">
                                    Учебно-лабораторный корпус Университета Иннополис
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Создали учебно-лабораторный корпус в Иннополисе с фундаменто, каркасом, отделкой и
                                    благоустройством территории.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/2.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2012
                                </div>
                                <h4 class="experience__slider-card-title">
                                    Парк зарядье
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Создали учебно-лабораторный корпус в Иннополисе с фундаменто, каркасом, отделкой и
                                    благоустройством территории.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/3.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2017
                                </div>
                                <h4 class="experience__slider-card-title">
                                    Большая спортивная арена Лужники
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Построили стадион на 45,000 мест в Казани с современным фасадом, кровлей и
                                    благоустройством территории.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>