<section class="experience js-intro-end">
    <div class="experience__content">
        <div class="experience__top-row">
            <div class="experience__left-col">
                <h2 class="experience__heading">
                    Проекты
                </h2>
                <div class="experience__count">
                    (38)
                </div>
            </div>
            <div class="experience__right-col">
                <h3 class="experience__secondary-heading">
                    Опыт, который говорит сам&nbsp;за&nbsp;себя
                </h3>
                <a href="#" class="experience__all-projects">
                    Все проекты
                </a>
            </div>
        </div>
        <div class="experience__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/1.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">

                                <h4 class="experience__slider-card-title">
                                    РЕКОНСТРУКЦИЯ ЛЕНИНСКОЙ ДАМБЫ
                                    Г. КАЗАНЬ
                                </h4>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/2.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">

                                <h4 class="experience__slider-card-title">
                                    ТРАНСПОРТНАЯ РАЗВЯЗКА НА ПЕРЕСЕЧЕНИИ ПР.АМИРХАНА - ЯМАШЕВА
                                </h4>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/3.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">

                                <h4 class="experience__slider-card-title">
                                    Большая спортивная арена Лужники
                                </h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>