<div class="header-overlay"></div>
<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo {{#if whiteLogo }} page-header__logo--white {{/if}}">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image" width="268" height="188">
            <div class="page-header__logo-wrapper">
                <div class="page-header__logo-title">
                    СтройИнжиниринг
                </div>
                <div class="page-header__logo-desc">
                    Инвестиционная Строительная Корпорация
                </div>
            </div>
        </a>
        <div class="page-header__menu" data-lenis-prevent="">
            <div class="page-header__menu-header">
                <a href="#" class="page-header__menu-logo">
                    <img src="/images/logo.webp" alt="" class="page-header__menu-logo-image" width="268" height="188">
                </a>
                <button class="page-header__menu-burger">

                </button>
            </div>
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О&nbsp;компании
                        </a>
                        <div class="page-header__nav-submenu">
                            <div class="page-header__nav-submenu-inner">


                                <ul class="page-header__nav-submenu-list">
                                    <li class="page-header__nav-submenu-list-item">
                                        <a href="#" class="page-header__nav-submenu-link">
                                            Лицензии
                                        </a>
                                    </li>
                                    <li class="page-header__nav-submenu-list-item">
                                        <a href="#" class="page-header__nav-submenu-link">
                                            Карьера
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Проекты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Сектора строительства
                        </a>
                        <div class="page-header__nav-sectors-dropdown">
                            <div class="page-header__nav-sectors-dropdown-inner">
                                <div class="page-header__nav-sectors-row">
                                    <div class="page-header__nav-sectors-image-tabs">
                                        <div class="page-header__nav-sectors-image-tab">
                                            <img src="/images/sectors-menu.webp" alt=""
                                                class="page-header__nav-sectors-image">
                                        </div>
                                        <div class="page-header__nav-sectors-image-tab">
                                            <img src="/images/projects/3.webp" alt=""
                                                class="page-header__nav-sectors-image">
                                        </div>

                                    </div>
                                    <div class="page-header__nav-sectors-submenu">
                                        <ul class="page-header__nav-sectors-submenu-list">
                                            <li class="page-header__nav-sectors-submenu-list-item">
                                                <a href="#" class="page-header__nav-sectors-submenu-link">
                                                    промышленность
                                                </a>
                                            </li>
                                            <li class="page-header__nav-sectors-submenu-list-item">
                                                <a href="#" class="page-header__nav-sectors-submenu-link">
                                                    культурное наследие
                                                </a>
                                            </li>
                                            <li class="page-header__nav-sectors-submenu-list-item">
                                                <a href="#" class="page-header__nav-sectors-submenu-link">
                                                    Технологические
                                                </a>
                                            </li>
                                            <li class="page-header__nav-sectors-submenu-list-item">
                                                <a href="#" class="page-header__nav-sectors-submenu-link">
                                                    здравоохранение
                                                </a>
                                            </li>
                                            <li class="page-header__nav-sectors-submenu-list-item">
                                                <a href="#" class="page-header__nav-sectors-submenu-link">
                                                    Спортивные сооружения
                                                </a>
                                            </li>
                                            <li class="page-header__nav-sectors-submenu-list-item">
                                                <a href="#" class="page-header__nav-sectors-submenu-link">
                                                    Социальные
                                                </a>
                                            </li>
                                            <li class="page-header__nav-sectors-submenu-list-item">
                                                <a href="#" class="page-header__nav-sectors-submenu-link">
                                                    Жилые комплексы
                                                </a>
                                            </li>
                                            <li class="page-header__nav-sectors-submenu-list-item">
                                                <a href="#" class="page-header__nav-sectors-submenu-link">
                                                    Коммерческая недвижимость
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Компетенции и&nbsp;услуги
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Клиенты и&nbsp;партнеры
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Пресс&#8209;центр
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__menu-contacts">
                <ul class="page-header__menu-contacts-list">
                    <li class="page-header__menu-contacts-list-item">
                        <div class="page-header__menu-contacts-item">
                            Адрес РТ, Казань, ул.Гагарина, д.99
                        </div>
                    </li>
                    <li class="page-header__menu-contacts-list-item">
                        <a href="tel:+78432213555" class="page-header__menu-contacts-item">
                            8 (843) 221-35-55
                        </a>
                    </li>
                    <li class="page-header__menu-contacts-list-item">
                        <a href="mailto:info@isksi.ru" class="page-header__menu-contacts-item">
                            Email <b>info@isksi.ru</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="page-header__burger">

        </button>
    </div>
</header>