<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <img src="/images/logo.webp" alt="" class="page-header__logo-image" width="268" height="188">
            <div class="page-header__logo-wrapper">
                <div class="page-header__logo-title">
                    СтройИнжиниринг
                </div>
                <div class="page-header__logo-desc">
                    Инвестиционная Строительная Корпорация
                </div>
            </div>
        </a>
        <div class="page-header__menu">
            <div class="page-header__menu-header">
                <a href="#" class="page-header__menu-logo">
                    <img src="/images/logo.webp" alt="" class="page-header__menu-logo-image" width="268" height="188">
                </a>
                <button class="page-header__menu-burger">

                </button>
            </div>
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О&nbsp;компании
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Проекты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Сектора строительства
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Компетенции и&nbsp;услуги
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Клиенты и&nbsp;партнеры
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Пресс&#8209;центр
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__menu-contacts">
                <ul class="page-header__menu-contacts-list">
                    <li class="page-header__menu-contacts-list-item">
                        <div class="page-header__menu-contacts-item">
                            Адрес РТ, Казань, ул.Гагарина, д.99
                        </div>
                    </li>
                    <li class="page-header__menu-contacts-list-item">
                        <a href="tel:+78432213555" class="page-header__menu-contacts-item">
                            8 (843) 221-35-55
                        </a>
                    </li>
                    <li class="page-header__menu-contacts-list-item">
                        <a href="mailto:info@isksi.ru" class="page-header__menu-contacts-item">
                            Email <b>info@isksi.ru</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="page-header__burger">

        </button>
    </div>
</header>