<section class="home-news">
    <div class="home-news__content">
        <div class="home-news__row">
            <h2 class="home-news__heading">
                Последние новости<br> и обновления
            </h2>
            <div class="home-news__wrapper">
                <ul class="home-news__list">
                    <li class="home-news__list-item">
                        <a href="#" class="home-news__card">
                            <div class="home-news__card-image-container">
                                <img src="/images/home-news/1.webp" alt="" class="home-news__card-image">
                            </div>
                            <div class="home-news__card-content">
                                <div class="home-news__card-date">
                                    8 Августа 2024
                                </div>
                                <h3 class="home-news__card-title">
                                    Метшину показали новый лицей, в котором будут собирать беспилотники
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li class="home-news__list-item">
                        <a href="#" class="home-news__card">
                            <div class="home-news__card-image-container">
                                <img src="/images/home-news/2.webp" alt="" class="home-news__card-image">
                            </div>
                            <div class="home-news__card-content">
                                <div class="home-news__card-date">
                                    6 Августа 2024
                                </div>
                                <h3 class="home-news__card-title">
                                    ИСК «СтройИнжиниринг» застроит четвертую очередь «Салават купере»
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li class="home-news__list-item">
                        <a href="#" class="home-news__card">
                            <div class="home-news__card-image-container">
                                <img src="/images/home-news/3.webp" alt="" class="home-news__card-image">
                            </div>
                            <div class="home-news__card-content">
                                <div class="home-news__card-date">
                                    2 Августа 2024
                                </div>
                                <h3 class="home-news__card-title">
                                    ООО "Стройинжиниринг" построит школу для одаренных детей на Бору
                                </h3>
                            </div>
                        </a>
                    </li>
                </ul>
                <a href="#" class="home-news__more-link">
                    Смотреть все
                </a>
            </div>
        </div>

    </div>
</section>