<section class="intro js-intro">
    <div class="intro__content">
        <h1 class="intro__heading js-intro__heading">
            Надежный партнер<br> в строительстве сложных объектов
        </h1>
        <ul class="intro__list">
            <li class="intro__list-item js-intro-secondary-item">
                <div class="intro__card">
                    <div class="intro__card-amount">
                        10 лет
                    </div>
                    <div class="intro__card-text">
                        успешной работы
                    </div>
                </div>
            </li>
            <li class="intro__list-item js-intro-secondary-item">
                <div class="intro__card">
                    <div class="intro__card-amount">
                        566 000 м²
                    </div>
                    <div class="intro__card-text">
                        построено
                    </div>
                </div>
            </li>
            <li class="intro__list-item js-intro-secondary-item">
                <div class="intro__card">
                    <div class="intro__card-amount">
                        38 объектов
                    </div>
                    <div class="intro__card-text">
                        завершено
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>