<section class="letters">
    <div class="letters__content">
        <h2 class="letters__heading">
            благодарственные письма
        </h2>
        <div class="letters__list-wrapper">
            <ul class="letters__list">
                <li class="letters__list-item">
                    <a href="#" class="letters__card">
                        <h3 class="letters__card-title">
                            ГКУ «Дирекция по строительству подземных транспортных сооружений»
                        </h3>
                        <img src="/images/letter.webp" alt="" class="letters__card-image">
                        <div class="letters__card-info">
                            <div class="letters__card-year">
                                2024
                            </div>
                            <div class="letters__card-format">
                                jpg
                            </div>
                        </div>
                        <div class="letters__card-download-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="letters__list-item">
                    <a href="#" class="letters__card">
                        <h3 class="letters__card-title">
                            ООО ромашка
                        </h3>
                        <img src="/images/letter.webp" alt="" class="letters__card-image">
                        <div class="letters__card-info">
                            <div class="letters__card-year">
                                2024
                            </div>
                            <div class="letters__card-format">
                                jpg
                            </div>
                        </div>
                        <div class="letters__card-download-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="letters__list-item">
                    <a href="#" class="letters__card">
                        <h3 class="letters__card-title">
                            ПАО сбербанк
                        </h3>
                        <img src="/images/letter.webp" alt="" class="letters__card-image">
                        <div class="letters__card-info">
                            <div class="letters__card-year">
                                2024
                            </div>
                            <div class="letters__card-format">
                                jpg
                            </div>
                        </div>
                        <div class="letters__card-download-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="letters__list-item">
                    <a href="#" class="letters__card">
                        <h3 class="letters__card-title">
                            ооо зил
                        </h3>
                        <img src="/images/letter.webp" alt="" class="letters__card-image">
                        <div class="letters__card-info">
                            <div class="letters__card-year">
                                2024
                            </div>
                            <div class="letters__card-format">
                                jpg
                            </div>
                        </div>
                        <div class="letters__card-download-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="letters__list-item">
                    <a href="#" class="letters__card">
                        <h3 class="letters__card-title">
                            ПАО лунтик
                        </h3>
                        <img src="/images/letter.webp" alt="" class="letters__card-image">
                        <div class="letters__card-info">
                            <div class="letters__card-year">
                                2024
                            </div>
                            <div class="letters__card-format">
                                jpg
                            </div>
                        </div>
                        <div class="letters__card-download-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="letters__list-item">
                    <a href="#" class="letters__card">
                        <h3 class="letters__card-title">
                            ООО ромашка
                        </h3>
                        <img src="/images/letter.webp" alt="" class="letters__card-image">
                        <div class="letters__card-info">
                            <div class="letters__card-year">
                                2024
                            </div>
                            <div class="letters__card-format">
                                jpg
                            </div>
                        </div>
                        <div class="letters__card-download-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="letters__list-item">
                    <a href="#" class="letters__card">
                        <h3 class="letters__card-title">
                            ООО ромашка
                        </h3>
                        <img src="/images/letter.webp" alt="" class="letters__card-image">
                        <div class="letters__card-info">
                            <div class="letters__card-year">
                                2024
                            </div>
                            <div class="letters__card-format">
                                jpg
                            </div>
                        </div>
                        <div class="letters__card-download-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="letters__list-item">
                    <a href="#" class="letters__card">
                        <h3 class="letters__card-title">
                            ПАО сбербанк
                        </h3>
                        <img src="/images/letter.webp" alt="" class="letters__card-image">
                        <div class="letters__card-info">
                            <div class="letters__card-year">
                                2024
                            </div>
                            <div class="letters__card-format">
                                jpg
                            </div>
                        </div>
                        <div class="letters__card-download-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
            <button class="letters__show-all" type="button">
                <span>
                    показать ещё
                </span>
                <span>
                    скрыть
                </span>
            </button>
        </div>
    </div>
</section>