<section class="numbers">
    <div class="numbers__content">
        <h3 class="numbers__large-text">
            Провели реконструкцию спортивной арены модернизировав и улучшив её функциональные характеристики
        </h3>
        <ul class="numbers__list">
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        30 000 кв. м
                    </div>
                    <div class="numbers__card-text">
                        общая площадь объекта
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        81 тыс. зрителей
                    </div>
                    <div class="numbers__card-text">
                        вместимость арены
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        660 млн рублей
                    </div>
                    <div class="numbers__card-text">
                        стоимость проекта
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        2021-2022
                    </div>
                    <div class="numbers__card-text">
                        срок реализации
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>