<section class="other-articles">
    <div class="other-articles__content">
        <div class="other-articles__top-row">
            <h2 class="other-articles__heading">
                Читайте также
            </h2>
            <a href="#" class="other-articles__link">
                Все новости
            </a>
        </div>
        <div class="other-articles__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img src="/images/other-news/1.webp" alt="" class="news-card__image">
                            </div>
                            <div class="news-card__info">
                                <div class="news-card__date">
                                    8 Августа 2024
                                </div>
                                <div class="news-card__source">
                                    НИА «Нижний Новгород»
                                </div>
                            </div>
                            <h3 class="news-card__title">
                                Метшину показали новый лицей, в котором будут собирать беспилотники
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img src="/images/other-news/2.webp" alt="" class="news-card__image">
                            </div>
                            <div class="news-card__info">
                                <div class="news-card__date">
                                    8 Августа 2024
                                </div>
                                <div class="news-card__source">
                                    НИА «Нижний Новгород»
                                </div>
                            </div>
                            <h3 class="news-card__title">
                                ИСК «СтройИнжиниринг» застроит четвертую очередь «Салават купере»
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img src="/images/other-news/3.webp" alt="" class="news-card__image">
                            </div>
                            <div class="news-card__info">
                                <div class="news-card__date">
                                    8 Августа 2024
                                </div>
                                <div class="news-card__source">
                                    НИА «Нижний Новгород»
                                </div>
                            </div>
                            <h3 class="news-card__title">
                                ООО "Стройинжиниринг" построит школу для одаренных детей на Бору
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>