<section class="park">
    <div class="park__content">
        <div class="park__row">
            <div class="park__text-content">
                <h2 class="park__heading">
                    Собственный парк строительной техники
                </h2>
                <a href="#" class="park__link">
                    Смотреть парк
                </a>
            </div>
            <div class="park__image-wrapper">

                <picture>
                    <source srcset="/images/park-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/park.webp" alt="MDN" class="park__image" />
                </picture>
            </div>
        </div>
    </div>
</section>