<section class="partners">

    <div class="partners__content">
        <h2 class="partners__heading">
            Наши заказчики
        </h2>
        <ul class="partners__list">
            <li class="partners__list-item">
                <div class="partners__card">
                    <div class="partners__card-logo-wrapper">
                        <img src="/images/partners/1.webp" alt="" class="partners__card-logo">
                    </div>
                    <h3 class="partners__card-title">
                        ГКУ «Главное инвестиционно-строительное управление республики татарстан»
                    </h3>
                </div>
            </li>
            <li class="partners__list-item">
                <div class="partners__card">
                    <div class="partners__card-logo-wrapper">
                        <img src="/images/partners/1.webp" alt="" class="partners__card-logo">
                    </div>
                    <h3 class="partners__card-title">
                        ГКУ «Дирекция по строительству подземных транспортных сооружений»
                    </h3>
                </div>
            </li>
            <li class="partners__list-item">
                <div class="partners__card">
                    <div class="partners__card-logo-wrapper">
                        <img src="/images/partners/2.webp" alt="" class="partners__card-logo">
                    </div>
                    <h3 class="partners__card-title">
                        Мэрия города Казани
                    </h3>
                </div>
            </li>
            <li class="partners__list-item">
                <div class="partners__card">
                    <div class="partners__card-logo-wrapper">
                        <img src="/images/partners/3.webp" alt="" class="partners__card-logo">
                    </div>
                    <h3 class="partners__card-title">
                        Казенное предприятие «Большая спортивная арена„ЛУжники“»
                    </h3>
                </div>
            </li>
            <li class="partners__list-item">
                <div class="partners__card">
                    <div class="partners__card-logo-wrapper">
                        <img src="/images/partners/4.webp" alt="" class="partners__card-logo">
                    </div>
                    <h3 class="partners__card-title">
                        Открытое акционерное общество «Российские железные дороги»
                    </h3>
                </div>
            </li>
            <li class="partners__list-item">
                <div class="partners__card">
                    <div class="partners__card-logo-wrapper">
                        <img src="/images/partners/5.webp" alt="" class="partners__card-logo">
                    </div>
                    <h3 class="partners__card-title">
                        Открытое акционерное общество «ТАИФ»
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</section>