<section class="press-center js-intro">
    <div class="press-center__content">
        <h1 class="press-center__heading js-intro-heading">
            Пресс-центр
        </h1>
        <div class="press-center__materials js-intro-fade-second-order">
            <h2 class="press-center__materials-heading">
                материалы
            </h2>
            <div class="press-center__materials-accordions">
                <div class="press-center__materials-accordion">
                    <button class="press-center__materials-accordion-btn" type="button">
                        <span class="press-center__materials-accordion-btn-text">
                            Справка для пресс-релизов
                        </span>
                        <span class="press-center__materials-accordion-btn-icon">

                        </span>
                    </button>
                    <div class="press-center__materials-accordion-content">
                        <div class="press-center__materials-accordion-content-inner">
                            <div class="press-center__materials-accordion-wrapper">
                                <div class="press-center__materials-accordion-text">
                                    Инвестиционная строительная корпорация &laquo;СтройИнжиниринг&raquo; крупный
                                    генеральный
                                    подрядчик при строительстве объектов различной сложности. Мы&nbsp;работаем
                                    на&nbsp;рынке
                                    строительства с&nbsp;2014 года и&nbsp;зарекомендовали себя как
                                    социально-ответственную
                                    компанию
                                </div>
                                <a href="#" class="press-center__materials-accordion-link">
                                    скачать документ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="press-center__materials-accordion">
                    <button class="press-center__materials-accordion-btn" type="button">
                        <span class="press-center__materials-accordion-btn-text">
                            Логотип компании
                        </span>
                        <span class="press-center__materials-accordion-btn-icon">

                        </span>
                    </button>
                    <div class="press-center__materials-accordion-content">
                        <div class="press-center__materials-accordion-content-inner">
                            <div class="press-center__materials-accordion-wrapper">

                                <a href="#" class="press-center__materials-accordion-link">
                                    скачать логотип
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="press-center__materials-accordion">
                    <button class="press-center__materials-accordion-btn" type="button">
                        <span class="press-center__materials-accordion-btn-text">
                            Фотоматериалы
                        </span>
                        <span class="press-center__materials-accordion-btn-icon">

                        </span>
                    </button>
                    <div class="press-center__materials-accordion-content">
                        <div class="press-center__materials-accordion-content-inner">
                            <div class="press-center__materials-accordion-wrapper">
                                <ul class="press-center__materials-accordion-gallery-list">
                                    <li class="press-center__materials-accordion-gallery-list-item">
                                        <a href="/images/press-center-gallery/1.webp"
                                            class="press-center__materials-accordion-gallery-card"
                                            data-fancybox="gallery">
                                            <img src="/images/press-center-gallery/1.webp" alt=""
                                                class="press-center__materials-accordion-gallery-card-image">
                                        </a>
                                    </li>
                                    <li class="press-center__materials-accordion-gallery-list-item">
                                        <a href="/images/press-center-gallery/2.webp"
                                            class="press-center__materials-accordion-gallery-card"
                                            data-fancybox="gallery">
                                            <img src="/images/press-center-gallery/2.webp" alt=""
                                                class="press-center__materials-accordion-gallery-card-image">
                                        </a>
                                    </li>
                                    <li class="press-center__materials-accordion-gallery-list-item">
                                        <a href="/images/press-center-gallery/3.webp"
                                            class="press-center__materials-accordion-gallery-card"
                                            data-fancybox="gallery">
                                            <img src="/images/press-center-gallery/3.webp" alt=""
                                                class="press-center__materials-accordion-gallery-card-image">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="press-center__results js-intro-fade-second-order">
            <div class="press-center__results-row">
                <h2 class="press-center__results-heading">
                    новости
                </h2>
                <div class="press-center__years">
                    <button class="press-center__years-btn" type="button">
                        2024
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#years-arrow"></use>
                        </svg>
                    </button>
                    <div class="press-center__years-dropdown">
                        <div class="press-center__years-dropdown-inner">
                            <div class="press-center__years-row">
                                <h3 class="press-center__years-title">
                                    выбрать год
                                </h3>
                                <button class="press-center__years-close" type="button">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#years-close"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="press-center__years-links">
                                <a href="#" class="press-center__years-link active">
                                    2024
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </a>
                                <a href="#" class="press-center__years-link">
                                    2023
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </a>
                                <a href="#" class="press-center__years-link">
                                    2022
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="press-center__results-list">
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/1.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            Метшину показали новый лицей, в котором будут собирать беспилотники
                        </h3>
                    </a>
                </li>
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/2.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            ИСК «СтройИнжиниринг» застроит четвертую очередь «Салават купере»
                        </h3>
                    </a>
                </li>
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/3.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            ООО "Стройинжиниринг" построит школу для одаренных детей на Бору
                        </h3>
                    </a>
                </li>
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/4.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            Метшину показали новый лицей, в котором будут собирать беспилотники
                        </h3>
                    </a>
                </li>
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/5.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            Метшину показали новый лицей, в котором будут собирать беспилотники
                        </h3>
                    </a>
                </li>
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/6.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            Метшину показали новый лицей, в котором будут собирать беспилотники
                        </h3>
                    </a>
                </li>
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/7.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            Метшину показали новый лицей, в котором будут собирать беспилотники
                        </h3>
                    </a>
                </li>
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/8.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            Метшину показали новый лицей, в котором будут собирать беспилотники
                        </h3>
                    </a>
                </li>
                <li class="press-center__results-list-item">
                    <a href="#" class="news-card">
                        <div class="news-card__image-container">
                            <img src="/images/other-news/9.webp" alt="" class="news-card__image">
                        </div>
                        <div class="news-card__info">
                            <div class="news-card__date">
                                8 Августа 2024
                            </div>
                            <div class="news-card__source">
                                НИА «Нижний Новгород»
                            </div>
                        </div>
                        <h3 class="news-card__title">
                            Метшину показали новый лицей, в котором будут собирать беспилотники
                        </h3>
                    </a>
                </li>
            </ul>
            <a href="#" class="press-center__show-more">
                показать ещё
            </a>
        </div>
    </div>
</section>