<section class="project-video">
    <div class="project-video__bg">
        <img src="/images/project-video.webp" alt="" class="project-video__bg-image">
    </div>
    <div class="project-video__content">
        <h2 class="project-video__heading">
            видео проекта
        </h2>
        <h3 class="project-video__secondary-heading">
            видеообзор функциональности и внешнего вида БСА «Лужники» во время реконструкции
        </h3>
        <a href="#" class="project-video__play">
            <div class="project-video__play-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#project-video-play"></use>
                </svg>
            </div>
            <div class="project-video__play-info">
                2:25 — смотреть видео
            </div>
        </a>
        <div class="project-video__description">
            Проведённые работы значительно улучшили функциональность и внешний вид БСА «Лужники»
        </div>
    </div>
</section>