<section class="project-description">
    <div class="project-description__bg">
        <img src="/images/project-description-bg.webp" alt="" class="project-description__bg-image">
    </div>
    <div class="project-description__content">
        <div class="project-description__text-content">
            <h2 class="project-description__heading">
                Описание проекта
            </h2>
            <h3 class="project-description__secondary-heading">
                На объекте БСА «Лужники» были выполнены работы
            </h3>
            <div class="project-description__text">
                На объекте БСА «Лужники» были выполнены монолитные работы, включая заливку фундамента и постройку
                каркаса, проведены гидроизоляционные работы, осуществлена кирпичная кладка стен и перегородок, а также
                выполнен монтаж конструкций и отделочные работы
            </div>
            <ul class="project-description__list">
                <li class="project-description__list-item">
                    <div class="project-description__card">
                        выполнены монолитные работы
                    </div>
                </li>
                <li class="project-description__list-item">
                    <div class="project-description__card">
                        проведены гидроизоляционные работы
                    </div>
                </li>
                <li class="project-description__list-item">
                    <div class="project-description__card">
                        осуществлена Кирпичная кладка стен перегородок
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>