<section class="project-description js-intro-end">
    <div class="project-description__content">
        <h2 class="project-description__heading">
            Описание проекта
        </h2>
        <div class="project-description__row">
            <div class="project-description__left-col">
                <h3 class="project-description__secondary-heading">
                    работы выполненные<br> на объекте
                </h3>
                <ul class="project-description__list">
                    <li class="project-description__list-item">
                        монолитные работы
                    </li>
                    <li class="project-description__list-item">
                        гидроизоляционные работы
                    </li>
                    <li class="project-description__list-item">
                        Кирпичная кладка стен
                    </li>
                </ul>
            </div>
            <div class="project-description__right-col">
                <div class="project-description__text">
                    На объекте БСА «Лужники» были выполнены монолитные работы, включая заливку фундамента и постройку
                    каркаса, проведены гидроизоляционные работы, осуществлена кирпичная кладка стен и перегородок, а
                    также выполнен монтаж конструкций и отделочные работы
                </div>
                <div class="project-description__images">
                    <div class="project-description__image-wrapper">
                        <img src="/images/project-description/1.webp" alt="" class="project-description__image">
                    </div>
                    <div class="project-description__image-wrapper">
                        <img src="/images/project-description/2.webp" alt="" class="project-description__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>