<section class="project-intro js-intro">

    <div class="project-intro__bg">

        <picture>
            <source srcset="/images/project-intro-bg-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/project-intro-bg.webp" alt="MDN" class="project-intro__bg-image" />
        </picture>
    </div>
    <div class="project-intro__outer">


        <div class="project-intro__content">
            <div class="project-intro__top">
                <a href="#" class="project-intro__back js-intro-fade-first-order">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#back"></use>
                    </svg>
                    спортивные сооружения и здания
                </a>
                <h1 class="project-intro__heading js-intro-heading">
                    Реконструкция Большой спортивной арены «Лужники»
                </h1>
                <a href="#bottom" class="project-intro__scroll js-intro-fade-second-order">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#scroll-down"></use>
                    </svg>
                </a>
                <ul class="project-intro__info-list">
                    <li class="project-intro__info-list-item js-intro-secondary-item">
                        <div class="project-intro__info-card">
                            <h3 class="project-intro__card-title">
                                Заказчик
                            </h3>
                            <div class="project-intro__card-company">
                                АО «Мосинжпроект»
                            </div>
                        </div>
                    </li>
                    <li class="project-intro__info-list-item js-intro-secondary-item">
                        <div class="project-intro__info-card">
                            <h3 class="project-intro__card-title">
                                Проектировщик
                            </h3>
                            <div class="project-intro__card-company">
                                АО «Мосинжпроект»
                            </div>
                        </div>
                    </li>
                    <li class="project-intro__info-list-item js-intro-secondary-item">
                        <div class="project-intro__info-card">
                            <h3 class="project-intro__card-title">
                                Подрядчик
                            </h3>
                            <div class="project-intro__card-company">
                                ИСК Стройинжиниринг
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="project-intro__bottom" id="bottom">
                <h2 class="project-intro__bottom-heading">
                    цифрах
                </h2>
                <div class="project-intro__bottom-secondary-heading">
                    Провели реконструкцию спортивной арены модернизировав и улучшив её функциональные характеристики
                </div>
                <ul class="project-intro__numbers-list">
                    <li class="project-intro__numbers-list-item">
                        <div class="project-intro__numbers-card">
                            <div class="project-intro__numbers-card-amount">
                                30 <span>тыс. м2</span>
                            </div>
                            <div class="project-intro__numbers-card-text">
                                общая площадь объекта
                            </div>
                        </div>
                    </li>
                    <li class="project-intro__numbers-list-item">
                        <div class="project-intro__numbers-card">
                            <div class="project-intro__numbers-card-amount">
                                81 <span>тыс.</span>
                            </div>
                            <div class="project-intro__numbers-card-text">
                                вместимость арены
                            </div>
                        </div>
                    </li>
                    <li class="project-intro__numbers-list-item">
                        <div class="project-intro__numbers-card">
                            <div class="project-intro__numbers-card-amount">
                                660 <span>млн. ₽</span>
                            </div>
                            <div class="project-intro__numbers-card-text">
                                стоимость проекта
                            </div>
                        </div>
                    </li>
                    <li class="project-intro__numbers-list-item">
                        <div class="project-intro__numbers-card">
                            <div class="project-intro__numbers-card-amount">
                                1 <span>год</span>
                            </div>
                            <div class="project-intro__numbers-card-text">
                                срок реализации
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>