<section class="project-video">
    <div class="project-video__bg">
        <img src="/images/project-video.webp" alt="" class="project-video__bg-image">
        <video class="project-video__bg-image" playsinline="" autoplay="" muted="" loop="">
            <source src="/video/flower.webm" type="video/webm" />
            <source src="/video/flower.mp4" type="video/mp4" />
            Download the
            <a href="/video/flower.webm">WEBM</a>
            or
            <a href="/video/flower.mp4">MP4</a>
            video.
        </video>
    </div>
    <div class="project-video__content">
        <h2 class="project-video__heading">
            видео проекта
        </h2>
        <h3 class="project-video__secondary-heading">
            видеообзор функциональности и внешнего вида БСА «Лужники» во время реконструкции
        </h3>
        <a href="/video/flower.mp4" class="project-video__play" data-fancybox="video">
            <div class="project-video__play-icon">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#project-video-play"></use>
                </svg>
            </div>
            <div class="project-video__play-info">
                2:25 — смотреть видео
            </div>
        </a>
        <div class="project-video__description">
            Проведённые работы значительно улучшили функциональность и внешний вид БСА «Лужники»
        </div>
    </div>
</section>