<section class="projects js-intro">
    <div class="projects__content">
        <div class="projects__top-row">
            <h1 class="projects__heading js-intro-heading">
                Наши проекты
            </h1>
            <div class="projects__text js-intro-top-item">
                C&nbsp;2014 года мы&nbsp;успешно реализуем самые сложные и&nbsp;масштабные проекты как
                в&nbsp;Татарстане,
                так и&nbsp;за&nbsp;его пределами
            </div>
            <div class="projects__count js-intro-top-item">
                (38)
            </div>
        </div>
        <div class="projects__archive js-intro-top-item">


            <div class="projects__categories">
                <ul class="projects__categories-list">
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link active">
                            все направления (38)
                        </a>
                    </li>
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link">
                            Социальные (12)
                        </a>
                    </li>
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link">
                            Технологические и информационные (4)
                        </a>
                    </li>
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link">
                            здравоохранение (2)
                        </a>
                    </li>
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link">
                            Коммерческая недвижимость (7)
                        </a>
                    </li>
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link">
                            Культура (5)
                        </a>
                    </li>
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link">
                            промышленность (3)
                        </a>
                    </li>
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link">
                            Жилые комплексы (10)
                        </a>
                    </li>
                    <li class="projects__categories-list-item">
                        <a href="#" class="projects__categories-link">
                            Спортивные здания и сооружения (2)
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="projects__list">
                <li class="projects__list-item">
                    <a href="#" class="projects__card">
                        <div class="projects__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card" style="--overlay-opacity: 0.1;">
                                            <img src="/images/projects/1.webp" alt=""
                                                class="projects__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/2.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/3.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__card-content">
                            <div class="projects__card-title-wrapper">
                                <div class="projects__card-year">
                                    2010
                                </div>
                                <h3 class="projects__card-title">
                                    Реконструкция БСА «Лужники»
                                </h3>
                            </div>
                            <div class="projects__card-description">
                                Сделали монолитные работы: залили фундамент, построили каркас, провели гидроизоляцию
                                и&nbsp;выложили кирпичные стены и&nbsp;перегородки
                            </div>
                            <div class="projects__card-pagination">

                            </div>
                        </div>
                    </a>
                </li>
                <li class="projects__list-item">
                    <a href="#" class="projects__card">
                        <div class="projects__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card" style="--overlay-opacity: 0.1;">
                                            <img src="/images/projects/2.webp" alt=""
                                                class="projects__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/1.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/3.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__card-content">
                            <div class="projects__card-title-wrapper">
                                <div class="projects__card-year">
                                    2010
                                </div>
                                <h3 class="projects__card-title">
                                    Учебно-лабораторный корпус Университета Иннополис
                                </h3>
                            </div>
                            <div class="projects__card-description">
                                Сделали монолитные работы: залили фундамент, построили каркас, провели гидроизоляцию
                                и&nbsp;выложили кирпичные стены и&nbsp;перегородки
                            </div>
                            <div class="projects__card-pagination">

                            </div>
                        </div>
                    </a>
                </li>
                <li class="projects__list-item">
                    <a href="#" class="projects__card">
                        <div class="projects__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card" style="--overlay-opacity: 0.1;">
                                            <img src="/images/projects/3.webp" alt=""
                                                class="projects__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/2.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/1.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__card-content">
                            <div class="projects__card-title-wrapper">
                                <div class="projects__card-year">
                                    2010
                                </div>
                                <h3 class="projects__card-title">
                                    парк зарядье
                                </h3>
                            </div>
                            <div class="projects__card-description">
                                Сделали монолитные работы: залили фундамент, построили каркас, провели гидроизоляцию
                                и&nbsp;выложили кирпичные стены и&nbsp;перегородки
                            </div>
                            <div class="projects__card-pagination">

                            </div>
                        </div>
                    </a>
                </li>
                <li class="projects__list-item">
                    <a href="#" class="projects__card">
                        <div class="projects__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card" style="--overlay-opacity: 0.1;">
                                            <img src="/images/projects/4.webp" alt=""
                                                class="projects__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/3.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/2.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__card-content">
                            <div class="projects__card-title-wrapper">
                                <div class="projects__card-year">
                                    2010
                                </div>
                                <h3 class="projects__card-title">
                                    Парк промышленных инноваций в&nbsp;Иннополисе
                                </h3>
                            </div>
                            <div class="projects__card-description">
                                Сделали монолитные работы: залили фундамент, построили каркас, провели гидроизоляцию
                                и&nbsp;выложили кирпичные стены и&nbsp;перегородки
                            </div>
                            <div class="projects__card-pagination">

                            </div>
                        </div>
                    </a>
                </li>
                <li class="projects__list-item">
                    <a href="#" class="projects__card">
                        <div class="projects__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/5.webp" alt=""
                                                class="projects__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/3.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/2.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__card-content">
                            <div class="projects__card-title-wrapper">
                                <div class="projects__card-year">
                                    2010
                                </div>
                                <h3 class="projects__card-title">
                                    футбольный стадион «Газпром арена»
                                </h3>
                            </div>
                            <div class="projects__card-description">
                                Сделали монолитные работы: залили фундамент, построили каркас, провели гидроизоляцию
                                и&nbsp;выложили кирпичные стены и&nbsp;перегородки
                            </div>
                            <div class="projects__card-pagination">

                            </div>
                        </div>
                    </a>
                </li>
                <li class="projects__list-item">
                    <a href="#" class="projects__card">
                        <div class="projects__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/6.webp" alt=""
                                                class="projects__card-slider-card-image">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/3.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="projects__card-slider-card">
                                            <img src="/images/projects/2.webp" alt=""
                                                class="projects__card-slider-card-image"
                                                style="--overlay-opacity: 0.1;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="projects__card-content">
                            <div class="projects__card-title-wrapper">
                                <div class="projects__card-year">
                                    2010
                                </div>
                                <h3 class="projects__card-title">
                                    научный центр &laquo;сколково&raquo;
                                </h3>
                            </div>
                            <div class="projects__card-description">
                                Сделали монолитные работы: залили фундамент, построили каркас, провели гидроизоляцию
                                и&nbsp;выложили кирпичные стены и&nbsp;перегородки
                            </div>
                            <div class="projects__card-pagination">

                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="projects__show-more">
                показать ещё
            </a>
        </div>
    </div>
</section>