<section class="project-history">
    <div class="project-history__content">
        <h2 class="project-history__heading">
            Центральный стадион<br> им. В. И. Ленина) был открыт 31 июля 1956 года
        </h2>
        <div class="project-history__text">
            <p>
                Спорткомплекс, общая площадь которого составляет свыше 150&nbsp;гектаров. На&nbsp;сегодняшний день
                &laquo;Лужники&raquo; &mdash;
                одна из&nbsp;самых больших спортивных площадок России и&nbsp;мира. Расположен на&nbsp;территории
                Центрального
                административного округа столицы, в&nbsp;районе Хамовники. Единый архитектурно-парковый ансамбль
                спорткомплекса объединяет более 80&nbsp;сооружений и&nbsp;объектов,
            </p>
            <p>
                Наиболее значимые из&nbsp;которых&nbsp;&mdash; Большая спортивная арена, Малая спортивная арена, Дворец
                спорта (на&nbsp;реконструкции), Аквакомплекс, Северный спортивный центр, Южный спортивный центр, УСЗ
                &laquo;Дружба&raquo;, Ледовый дворец &laquo;Кристалл&raquo;, Спортивный городок, Дворец тенниса.
            </p>
        </div>
    </div>
</section>