<section class="project-gallery">
    <div class="project-gallery__content">
        <div class="project-gallery__slider">
            <div class="project-gallery__slider-main">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/1.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/2.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/3.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/1.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/2.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/3.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/1.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/2.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/3.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/1.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/2.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-gallery__slider-main-card">
                                <img src="/images/gallery-slider/3.webp" alt=""
                                    class="project-gallery__slider-main-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-gallery__slider-thumbs">

                <button class="project-gallery__slider-arrow project-gallery__slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#gallery-slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="project-gallery__slider-thumbs-wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/1.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/2.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/3.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/1.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/2.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/3.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/1.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/2.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/3.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/1.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/2.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="project-gallery__slider-thumbs-card">
                                    <img src="/images/gallery-slider/3.webp" alt=""
                                        class="project-gallery__slider-thumbs-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="project-gallery__slider-arrow project-gallery__slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#gallery-slider-arrow-right"></use>
                    </svg>
                </button>

            </div>
        </div>
    </div>
</section>