<section class="read-also">
    <div class="read-also__content">
        <div class="read-alos__top-row">
            <h2 class="read-also__heading">
                Смотрите также
            </h2>
            <div class="read-also__arrows">
                <button class="read-also__arrow read-also__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="read-also__arrow read-also__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="read-also__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="read-also__slider-card">
                            <div class="read-also__slider-card-image-container">
                                <img src="/images/read-also/1.webp" alt="" class="read-also__slider-card-image">
                            </div>
                            <div class="read-also__slider-card-tags">
                                <div class="read-also__slider-card-tag">
                                    СОЦИАЛЬНЫЕ ОБЪЕКТЫ
                                </div>
                            </div>
                            <h3 class="read-also__slider-card-title">
                                Учебно-лабораторный корпус Университета Иннополис
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="read-also__slider-card">
                            <div class="read-also__slider-card-image-container">
                                <img src="/images/read-also/2.webp" alt="" class="read-also__slider-card-image">
                            </div>
                            <div class="read-also__slider-card-tags">
                                <div class="read-also__slider-card-tag">
                                    дорожно-транспортные развязки
                                </div>
                            </div>
                            <h3 class="read-also__slider-card-title">
                                Реконструкция Ленинской дамбы
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="read-also__slider-card">
                            <div class="read-also__slider-card-image-container">
                                <img src="/images/read-also/3.webp" alt="" class="read-also__slider-card-image">
                            </div>
                            <div class="read-also__slider-card-tags">
                                <div class="read-also__slider-card-tag">
                                    СПОРТИВНЫЕ ЗДАНИЯ И СООРУЖЕНИЯ
                                </div>
                            </div>
                            <h3 class="read-also__slider-card-title">
                                Футбольный стадион «Казань Арена»
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="read-also__slider-card">
                            <div class="read-also__slider-card-image-container">
                                <img src="/images/read-also/1.webp" alt="" class="read-also__slider-card-image">
                            </div>
                            <div class="read-also__slider-card-tags">
                                <div class="read-also__slider-card-tag">
                                    СОЦИАЛЬНЫЕ ОБЪЕКТЫ
                                </div>
                            </div>
                            <h3 class="read-also__slider-card-title">
                                Учебно-лабораторный корпус Университета Иннополис
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="read-also__slider-card">
                            <div class="read-also__slider-card-image-container">
                                <img src="/images/read-also/2.webp" alt="" class="read-also__slider-card-image">
                            </div>
                            <div class="read-also__slider-card-tags">
                                <div class="read-also__slider-card-tag">
                                    дорожно-транспортные развязки
                                </div>
                            </div>
                            <h3 class="read-also__slider-card-title">
                                Реконструкция Ленинской дамбы
                            </h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="read-also__slider-card">
                            <div class="read-also__slider-card-image-container">
                                <img src="/images/read-also/3.webp" alt="" class="read-also__slider-card-image">
                            </div>
                            <div class="read-also__slider-card-tags">
                                <div class="read-also__slider-card-tag">
                                    СПОРТИВНЫЕ ЗДАНИЯ И СООРУЖЕНИЯ
                                </div>
                            </div>
                            <h3 class="read-also__slider-card-title">
                                Футбольный стадион «Казань Арена»
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>