<section class="sector-advantages">
    <div class="sector-advantages__content">
        <h2 class="sector-advantages__heading">
            преимущества
        </h2>
        <div class="sector-advantages__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="sector-advantages__slider-card">
                            <h3 class="sector-advantages__slider-card-title">
                                опыт стройки масштабных объектов
                            </h3>
                            <div class="sector-advantages__slider-card-image-container">
                                <img src="/images/sector-advantages/1.webp" alt=""
                                    class="sector-advantages__slider-card-image">
                            </div>
                            <div class="sector-advantages__slider-card-desc">
                                Наша компания имеет богатый опыт в реализации крупных спортивных проектов, таких
                                как стадионы, дворцы водных видов спорта и стрелковые комплексы
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sector-advantages__slider-card">
                            <h3 class="sector-advantages__slider-card-title">
                                Отсрочка платежа для госзаказчиков
                            </h3>
                            <div class="sector-advantages__slider-card-image-container">
                                <img src="/images/sector-advantages/2.webp" alt=""
                                    class="sector-advantages__slider-card-image">
                            </div>
                            <div class="sector-advantages__slider-card-desc">
                                Мы предлагаем отсрочку платежа для госзаказчиков, что позволяет облегчить финансовое
                                планирование и обеспечить бесперебойное выполнение проектов
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sector-advantages__slider-card">
                            <h3 class="sector-advantages__slider-card-title">
                                Комплексное
                                обеспечение объекта
                            </h3>
                            <div class="sector-advantages__slider-card-image-container">
                                <img src="/images/sector-advantages/3.webp" alt=""
                                    class="sector-advantages__slider-card-image">
                            </div>
                            <div class="sector-advantages__slider-card-desc">
                                Наше предложение охватывает доставку и установку оборудования, техническое обслуживание,
                                а также поддержку на всех этапах строительства и эксплуатации
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sector-advantages__slider-card">
                            <h3 class="sector-advantages__slider-card-title">
                                Комплексное
                                обеспечение объекта
                            </h3>
                            <div class="sector-advantages__slider-card-image-container">
                                <img src="/images/sector-advantages/4.webp" alt=""
                                    class="sector-advantages__slider-card-image">
                            </div>
                            <div class="sector-advantages__slider-card-desc">
                                Мы успешно завершаем проекты в срок и в рамках бюджета, учитывая все особенности
                                и требования заказчиков. нам доверяют крупнейшие игроки рынка
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>