<section class="sectors">
    <div class="sectors__bg">
        <div class="sectors__bg-items">
            <div class="sectors__bg-item">
                <img src="/images/sectors.webp" alt="" class="sectors__bg-image">
            </div>
            <div class="sectors__bg-item">
                <img src="/images/sectors.webp" alt="" class="sectors__bg-image">
            </div>
            <div class="sectors__bg-item">
                <img src="/images/sectors.webp" alt="" class="sectors__bg-image">
            </div>
            <div class="sectors__bg-item">
                <img src="/images/sectors.webp" alt="" class="sectors__bg-image">
            </div>
            <div class="sectors__bg-item">
                <img src="/images/sectors.webp" alt="" class="sectors__bg-image">
            </div>
        </div>
    </div>
    <div class="sectors__content">
        <h2 class="sectors__heading">
            Сектора строительства
        </h2>
        <ul class="sectors__list">
            <li class="sectors__list-item">
                <a href="#" class="sectors__link">
                    Социальные объекты
                </a>
            </li>
            <li class="sectors__list-item">
                <a href="#" class="sectors__link">
                    Технологические и&nbsp;информационные объекты
                </a>
            </li>
            <li class="sectors__list-item">
                <a href="#" class="sectors__link">
                    Спортивные здания и&nbsp;сооружения
                </a>
            </li>
            <li class="sectors__list-item">
                <a href="#" class="sectors__link">
                    Жилые комплексы
                </a>
            </li>
            <li class="sectors__list-item">
                <a href="#" class="sectors__link">
                    Объекты культурного наследия
                </a>
            </li>
        </ul>
        <a href="#" class="sectors__show-all">
            Смотреть все
        </a>
    </div>
</section>