<section class="sectors-catalog js-intro">
    <div class="sectors-catalog__content">
        <div class="sectors-catalog__top-row">
            <h1 class="sectors-catalog__heading js-intro-heading">
                Сектора строительства
            </h1>
            <div class="sectors-catalog__text js-intro-top-item">
                Генподрядная компания «ИСК СтройИнжиниринг» обеспечивает комплексный подход в реализации проектов любой
                сложности и масштаба, занимая лидирующие позиции на рынке промышленного и гражданского строительства.
            </div>
            <div class="sectors-catalog__count js-intro-top-item">
                (8)
            </div>
        </div>
        <ol class="sectors-catalog__list">
            <li class="sectors-catalog__list-item">
                <a href="#" class="sectors-catalog__card js-intro-secondary-item">
                    <div class="sectors-catalog__card-image-container">
                        <img src="/images/sectors-catalog/1.webp" alt="" class="sectors-catalog__card-image">
                    </div>
                    <div class="sectors-catalog__card-content">
                        <h3 class="sectors-catalog__card-title">
                            Социальные<br> объекты
                        </h3>
                        <ul class="sectors-catalog__card-list">
                            <li class="sectors-catalog__card-list-item">
                                парковые зоны
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                школы
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                детские сады
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="sectors-catalog__list-item">
                <a href="#" class="sectors-catalog__card js-intro-secondary-item">
                    <div class="sectors-catalog__card-image-container">
                        <img src="/images/sectors-catalog/2.webp" alt="" class="sectors-catalog__card-image">
                    </div>
                    <div class="sectors-catalog__card-content">
                        <h3 class="sectors-catalog__card-title">
                            Технологические и&nbsp;информационные объекты
                        </h3>
                        <ul class="sectors-catalog__card-list">
                            <li class="sectors-catalog__card-list-item">
                                технопарки
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                Научные центры
                            </li>

                        </ul>
                    </div>
                </a>
            </li>
            <li class="sectors-catalog__list-item">
                <a href="#" class="sectors-catalog__card js-intro-secondary-item">
                    <div class="sectors-catalog__card-image-container">
                        <img src="/images/sectors-catalog/3.webp" alt="" class="sectors-catalog__card-image">
                    </div>
                    <div class="sectors-catalog__card-content">
                        <h3 class="sectors-catalog__card-title">
                            Спортивные здания и&nbsp;сооружения
                        </h3>
                        <ul class="sectors-catalog__card-list">
                            <li class="sectors-catalog__card-list-item">
                                стадионы
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                Бассейны и аквапарки
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                спортивные комплексы
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="sectors-catalog__list-item">
                <a href="#" class="sectors-catalog__card js-intro-secondary-item">
                    <div class="sectors-catalog__card-image-container">
                        <img src="/images/sectors-catalog/4.webp" alt="" class="sectors-catalog__card-image">
                    </div>
                    <div class="sectors-catalog__card-content">
                        <h3 class="sectors-catalog__card-title">
                            Жилые комплексы
                        </h3>
                        <ul class="sectors-catalog__card-list">
                            <li class="sectors-catalog__card-list-item">
                                премиум недвижимость
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                комплексы комфорт класса
                            </li>

                        </ul>
                    </div>
                </a>
            </li>
            <li class="sectors-catalog__list-item">
                <a href="#" class="sectors-catalog__card js-intro-secondary-item">
                    <div class="sectors-catalog__card-image-container">
                        <img src="/images/sectors-catalog/5.webp" alt="" class="sectors-catalog__card-image">
                    </div>
                    <div class="sectors-catalog__card-content">
                        <h3 class="sectors-catalog__card-title">
                            Объекты культурного наследия
                        </h3>
                        <ul class="sectors-catalog__card-list">
                            <li class="sectors-catalog__card-list-item">
                                театры
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                музеи
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                галереи
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="sectors-catalog__list-item">
                <a href="#" class="sectors-catalog__card js-intro-secondary-item">
                    <div class="sectors-catalog__card-image-container">
                        <img src="/images/sectors-catalog/6.webp" alt="" class="sectors-catalog__card-image">
                    </div>
                    <div class="sectors-catalog__card-content">
                        <h3 class="sectors-catalog__card-title">
                            Объекты здравоохранения
                        </h3>
                        <ul class="sectors-catalog__card-list">
                            <li class="sectors-catalog__card-list-item">
                                больницы
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                частные клиники
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                санаторные комплексы
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="sectors-catalog__list-item">
                <a href="#" class="sectors-catalog__card js-intro-secondary-item">
                    <div class="sectors-catalog__card-image-container">
                        <img src="/images/sectors-catalog/7.webp" alt="" class="sectors-catalog__card-image">
                    </div>
                    <div class="sectors-catalog__card-content">
                        <h3 class="sectors-catalog__card-title">
                            Коммерческая недвижимость
                        </h3>
                        <ul class="sectors-catalog__card-list">
                            <li class="sectors-catalog__card-list-item">
                                бизнес-центры
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                торговые комплексы
                            </li>

                        </ul>
                    </div>
                </a>
            </li>
            <li class="sectors-catalog__list-item">
                <a href="#" class="sectors-catalog__card js-intro-secondary-item">
                    <div class="sectors-catalog__card-image-container">
                        <img src="/images/sectors-catalog/8.webp" alt="" class="sectors-catalog__card-image">
                    </div>
                    <div class="sectors-catalog__card-content">
                        <h3 class="sectors-catalog__card-title">
                            Объекты промышленности
                        </h3>
                        <ul class="sectors-catalog__card-list">
                            <li class="sectors-catalog__card-list-item">
                                производственные
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                энергетические
                            </li>
                            <li class="sectors-catalog__card-list-item">
                                транспортно-складские
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ol>
    </div>
</section>