<section class="sector-intro js-intro">
    <div class="sector-intro__bg">
        <picture>
            <source srcset="/images/sector-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/sector.webp" alt="MDN" class="sector-intro__bg-image">
        </picture>
    </div>
    <div class="sector-intro__content">
        <a href="#" class="sector-intro__back js-intro-fade-first-order">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#back"></use>
            </svg>
            все сектора
        </a>
        <h1 class="sector-intro__heading js-intro-heading">
            Спортивные здания и сооружения
        </h1>
        <a href="#subjects" class="sector-intro__scroll js-intro-top-item">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#scroll-down"></use>
            </svg>
        </a>
        <div class="sector-intro__text js-intro-top-item">
            Мы специализируемся на строительстве и реконструкции спортивных зданий и сооружений, создавая современные и
            функциональные объекты, которые отвечают самым высоким стандартам.
        </div>

    </div>
</section>