<section class="services js-intro">
    <div class="services__content">
        <div class="services__top-row">
            <h1 class="services__heading js-intro-heading">
                Компетенции<br> и услуги
            </h1>
            <div class="services__text js-intro-fade-second-order">
                Наша компания сочетает в&nbsp;себе опыт и&nbsp;инновации, предоставляя широкий спектр услуг&nbsp;&mdash;
                от&nbsp;проектирования
                до&nbsp;ввода объекта в&nbsp;эксплуатацию.
            </div>
            <div class="services__count js-intro-fade-second-order">
                (5)
            </div>
        </div>
        <ol class="services__list">
            <li class="services__list-item js-intro-secondary-item">
                <a href="#" class="services__card">
                    <img src="/images/services/1.webp" alt="" class="services__card-image">

                    <h3 class="services__card-title">
                        кадастровые работы
                    </h3>
                    <div class="services__card-desc">
                        Проведение комплексных исследований для определения геологических и экологических условий, а
                        также выполнение кадастровых работ для точного учета земельных участков
                    </div>

                </a>
            </li>
            <li class="services__list-item js-intro-secondary-item">
                <a href="#" class="services__card">
                    <img src="/images/services/2.webp" alt="" class="services__card-image">

                    <h3 class="services__card-title">
                        Проектирование
                    </h3>
                    <div class="services__card-desc">
                        Разработка детализированных проектов, учитывающих все требования и пожелания заказчика,
                        включая архитектурные и инженерные решения
                    </div>

                </a>
            </li>
            <li class="services__list-item js-intro-secondary-item">
                <a href="#" class="services__card">
                    <img src="/images/services/3.webp" alt="" class="services__card-image">

                    <h3 class="services__card-title">
                        Строительство
                    </h3>
                    <div class="services__card-desc">
                        Выполнение работ по заливу и формированию бетонных конструкций, включая фундаменты, каркасы
                        и перекрытия, обеспечивая прочность и долговечность строений
                    </div>

                </a>
            </li>
            <li class="services__list-item services__list-item--wide js-intro-secondary-item">
                <a href="#" class="services__card">
                    <img src="/images/services/4.webp" alt="" class="services__card-image">

                    <h3 class="services__card-title">
                        Реконструкция
                    </h3>
                    <div class="services__card-desc">
                        Завершение строительства с использованием различных отделочных материалов для создания
                        комфортных и эстетически привлекательных интерьеров и экстерьеров
                    </div>

                </a>
            </li>
            <li class="services__list-item services__list-item--wide js-intro-secondary-item">
                <a href="#" class="services__card">

                    <picture>
                        <source srcset="/images/services/5-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/services/5.webp" alt="MDN" class="services__card-image" />
                    </picture>

                    <h3 class="services__card-title">
                        ввод в эксплуатацию
                    </h3>
                    <div class="services__card-desc">
                        Комплексное выполнение всех видов строительных работ, включая возведение стен, перегородок, крыш
                        и внутренних конструкций
                    </div>

                </a>
            </li>
        </ol>
    </div>
</section>