<section class="similar-projects">
    <div class="similar-projects__content">
        <div class="similar-projects__top-row">
            <div class="similar-projects__heading-wrapper">


                <h2 class="similar-projects__heading">
                    похожие проекты
                </h2>
                <div class="similar-projects__count">
                    (38)
                </div>
            </div>
            <h3 class="similar-projects__secondary-heading">
                смотрите похожие проекты
            </h3>
            <a href="#" class="similar-projects__all-projects-btn">
                Все проекты
            </a>
            <div class="similar-projects__arrows">
                <button class="similar-projects__arrow similar-projects__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#projects-arrow-left"></use>
                    </svg>
                </button>
                <button class="similar-projects__arrow similar-projects__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#projects-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="similar-projects__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/1.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2010
                                </div>
                                <h4 class="experience__slider-card-title">
                                    РЕКОНСТРУКЦИЯ ЛЕНИНСКОЙ ДАМБЫ
                                    Г. КАЗАНЬ
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Создали учебно-лабораторный корпус в Иннополисе с фундаменто, каркасом, отделкой и
                                    благоустройством территории.
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/2.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2012
                                </div>
                                <h4 class="experience__slider-card-title">
                                    ТРАНСПОРТНАЯ РАЗВЯЗКА НА ПЕРЕСЕЧЕНИИ ПР.АМИРХАНА - ЯМАШЕВА
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Создали учебно-лабораторный корпус в Иннополисе с фундаменто, каркасом, отделкой и
                                    благоустройством территории.
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/3.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2012
                                </div>
                                <h4 class="experience__slider-card-title">
                                    Большая спортивная арена Лужники
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Создали учебно-лабораторный корпус в Иннополисе с фундаменто, каркасом, отделкой и
                                    благоустройством территории.
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/1.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2010
                                </div>
                                <h4 class="experience__slider-card-title">
                                    РЕКОНСТРУКЦИЯ ЛЕНИНСКОЙ ДАМБЫ
                                    Г. КАЗАНЬ
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Создали учебно-лабораторный корпус в Иннополисе с фундаменто, каркасом, отделкой и
                                    благоустройством территории.
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/2.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2012
                                </div>
                                <h4 class="experience__slider-card-title">
                                    ТРАНСПОРТНАЯ РАЗВЯЗКА НА ПЕРЕСЕЧЕНИИ ПР.АМИРХАНА - ЯМАШЕВА
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Создали учебно-лабораторный корпус в Иннополисе с фундаменто, каркасом, отделкой и
                                    благоустройством территории.
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="experience__slider-card">
                            <div class="experience__slider-card-bg">
                                <img src="/images/experience/3.webp" alt="" class="experience__slider-card-bg-image">
                            </div>
                            <div class="experience__slider-card-content">
                                <div class="experience__slider-card-year">
                                    2012
                                </div>
                                <h4 class="experience__slider-card-title">
                                    Большая спортивная арена Лужники
                                </h4>
                                <div class="experience__slider-card-small-text">
                                    Создали учебно-лабораторный корпус в Иннополисе с фундаменто, каркасом, отделкой и
                                    благоустройством территории.
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>