<section class="since">
    <div class="since__content">
        <div class="since__row">
            <div class="since__year">
                (2014 — 2024)
            </div>
            <div class="since__text-content">
                <h2 class="since__heading">
                    С 2014 года мы успешно реализуем сложные проекты в Татарстане и за его пределами, от масштабных
                    спортивных сооружений до жилых комплексов.
                </h2>
                {{!-- <a href="#" class="since__link">
                    О компании
                </a> --}}
            </div>
        </div>
    </div>
</section>