<section class="stages">
    <div class="stages__content">
        <div class="stages__left-col">
            <h2 class="stages__heading">
                Посмотрите,
                как&nbsp;проходили
                все&nbsp;этапы реконструкции стадиона
            </h2>
            <div class="stages__text">
                Проведенные работы значительно улучшили функциональность и внешний вид БСА «Лужники»
            </div>
        </div>
        <div class="stages__right-col">
            <a href="#" class="stages__video-wrapper">
                <img src="/images/video.webp" alt="" class="stages__video-preview">
                <div class="stages__video-play">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>