<section class="subjects" id="subjects">
    <div class="subjects__content">
        <h2 class="subjects__heading">
            направления
        </h2>
        <ul class="subjects__list">
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <img src="/images/subjects/1.svg" alt="" class="subjects__card-icon">
                    <h3 class="subjects__card-title">
                        Теннисные комплексы
                    </h3>
                </div>
            </li>
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <img src="/images/subjects/2.svg" alt="" class="subjects__card-icon">
                    <h3 class="subjects__card-title">
                        Спортивные комплексы
                    </h3>
                </div>
            </li>
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <img src="/images/subjects/3.svg" alt="" class="subjects__card-icon">
                    <h3 class="subjects__card-title">
                        Легкоатлетические стадионы
                    </h3>
                </div>
            </li>
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <img src="/images/subjects/4.svg" alt="" class="subjects__card-icon">
                    <h3 class="subjects__card-title">
                        Футбольные стадионы
                    </h3>
                </div>
            </li>
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <img src="/images/subjects/5.svg" alt="" class="subjects__card-icon">
                    <h3 class="subjects__card-title">
                        Бассейны и&nbsp;аквапарки
                    </h3>
                </div>
            </li>
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <img src="/images/subjects/6.svg" alt="" class="subjects__card-icon">
                    <h3 class="subjects__card-title">
                        Стрелковый комплекс
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</section>