<section class="summary">
    <div class="summary__content">
        <img src="/images/summary.webp" alt="" class="summary__image">
        <div class="summary__text-content">
            <h2 class="summary__heading">
                Итоги
            </h2>
            <h3 class="summary__secondary-heading">
                Проведенные работы значительно улучшили функциональность
            </h3>
            <div class="summary__text">
                Проведенные работы значительно улучшили функциональность и внешний вид БСА «Лужники», повысив его
                удобство и безопасность. Комплекс стал более современным и эффективным для проведения массовых
                мероприятий, что повысило его привлекательность и полезность для посетителей и организаторов.
            </div>
        </div>
    </div>
</section>