.experience {
  @include blockWrapper;
  position: relative;
  z-index: 4;
  color: #977e53;
}

.experience__content {
  @include blockContent;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;

  &--large-top-padding {
    padding-top: 8rem;
  }

  @include breakpoint(mobile) {
    padding: 4rem 0;
  }
}

.experience__top-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: flex-start;
  margin-bottom: 16rem;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.experience__left-col {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: flex-start;

  @include breakpoint(mobile) {
    display: block;
    grid-gap: 0;
    margin-bottom: 3rem;
  }
}

.experience__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-family: var(--oswald);
    display: inline;
  }
}

.experience__count {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  grid-column: 4 / 7;
  grid-row: 1 / 2;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-family: var(--oswald);
    display: inline;
  }
}

.experience__right-col {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    margin-bottom: 8rem;
  }
}

.experience__secondary-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  line-height: 120%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: var(--oswald);
  color: white;
  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.experience__all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  padding: 1.6rem 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #977e53;
  transition: background-color 0.2s, color 0.2s;
  border: 1px solid #977e53;
  border-radius: 7rem;
  margin-top: 1.5rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -1px;
    transition: transform 0.2s;
    transform-origin: center bottom;
    background-color: #977e53;
    transform: scaleY(0);
  }
  &:link,
  &:visited {
    color: #977e53;
  }

  @media (hover: hover) {
    &:hover {
      color: white;

      &::before {
        transform: scaleY(1);
      }
    }
  }

  &:active {
    color: white;
    &::before {
      transform: scaleY(1);
    }
  }

  @include breakpoint(mobile) {
    margin: 0;
  }
}

.experience__slider {
  width: 100%;
  max-width: 137.5rem;
  margin: 0 auto;

  @include breakpoint(mobile) {
    max-width: none;
    margin: 0;
  }

  .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    @include breakpointMF(small-tablet) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 2rem;
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    backface-visibility: hidden;
    @include breakpoint(mobile) {
      width: 33.5rem;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.experience__slider-card {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  color: white;

  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      .experience__slider-card-bg-image {
        transform: scale(1.05);
      }
    }
  }
  &::before {
    content: "";
    display: block;
    grid-area: stack;
    padding-bottom: 116%;

    @include breakpoint(mobile) {
      padding-bottom: 132.9%;
    }
  }
}

.experience__slider-card-bg {
  grid-area: stack;
  position: relative;
  overflow: hidden;
  overflow: clip;

  &::after {
    content: "";
    position: absolute;
    inset: -1px;
    background-color: rgba(black, 0.5);
    transform: scale(1.1);
  }
}

.experience__slider-card-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s;
  transform: scale(1);
  backface-visibility: hidden;
}

.experience__slider-card-content {
  grid-area: stack;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  padding-right: 3.4rem;
  gap: 3rem;
  z-index: 10;

  @include breakpoint(mobile) {
    padding: 2rem;
    gap: 2rem;
  }
}

.experience__slider-card-year {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
  }
}

.experience__slider-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  font-family: var(--oswald);
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}

.experience__slider-card-small-text {
  margin-top: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
  }
}
