.home-news {
  @include blockWrapper;
  background: #6e4d31;
  color: white;
  position: relative;
  z-index: 4;
}

.home-news__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
  padding-top: 8.8rem;
  padding-bottom: 8rem;

  @include breakpoint(mobile) {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.home-news__row {
  padding-top: 4rem;
  border-top: 1px solid rgba(#ffffff, 0.3);
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: flex-start;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: stretch;
    padding-top: 2rem;
  }
}

.home-news__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
}

.home-news__wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 5 / -1;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.home-news__list {
  display: flex;
  flex-direction: column;

  @media (hover: hover) {
    &:has(.home-news__card:hover)
      .home-news__card:not(:hover)
      .home-news__card-title {
      opacity: 0.5;
    }
  }

  @include breakpoint(mobile) {
    gap: 4rem;
  }
}

.home-news__list-item {
  border-bottom: 1px solid #977e53;
  @include breakpoint(mobile) {
    border: none;
  }
}

.home-news__card {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: flex-start;
  .home-news__list-item:nth-child(1) & {
    padding-top: 0;
  }

  @media (hover: hover) {
    &:hover {
      .home-news__card-image {
        transform: scale(1.1);
      }
    }
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    gap: 1.6rem;
  }
}

.home-news__card-image-container {
  grid-column: 1 / 3;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  backface-visibility: hidden;

  @include breakpoint(mobile) {
    margin-bottom: 0.2rem;
  }

  &::before {
    content: "";
    display: block;
    padding-bottom: 64.7%;
  }
}

.home-news__card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s;
}

.home-news__card-content {
  display: contents;
}

.home-news__card-date {
  grid-column: 4 / 5;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #977e53;
  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
}

.home-news__card-title {
  grid-column: 5 / 8;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-family: var(--oswald);
  transition: opacity 0.2s;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}

.home-news__more-link {
  display: grid;
  place-items: center;
  text-align: center;
  align-self: center;
  margin-top: 4rem;
  padding: 1.5rem 4rem;
  border: 1px solid #ffffff;
  border-radius: 7rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
  transition: color 0.2s, background-color 0.2s;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -1px;
    transition: transform 0.2s;
    transform-origin: center bottom;
    background-color: white;
    transform: scaleY(0);
  }
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        transform: scaleY(1);
      }
      color: var(--primary-color);
    }
  }

  &:active {
    &::before {
      transform: scaleY(1);
    }
    color: var(--primary-color);
  }

  @include breakpoint(mobile) {
    align-self: flex-start;
    margin-top: 6rem;
    padding: 1.5rem 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: -0.01em;
  }
}
