.illustration {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.illustration__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.illustration__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // opacity: 0;
  // visibility: hidden;

  &.ready {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.2s, visibility 0.2s;
  }

  @include breakpoint(mobile) {
    width: 100%;
    object-position: 35% 75%;
  }
}
