.page-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.2s, color 0.2s, transform 0.4s;
  @include blockWrapper;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(white, 0.1);
    transition: opacity 0.2s;
    bottom: 0;
    opacity: 0;
  }

  &--fixed {
    background-color: #21170f;

    &::after {
      content: "";
      opacity: 1;
    }
  }
}

body.header-hidden .page-header {
  transform: translateY(-100%);
}

body.header-hidden .page-header:has(.page-header__nav-list-item:hover) {
  transform: translateY(0);
}

.header-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 8;
  background-color: rgba(black, 0.4);
  // background-color: red;

  @include breakpoint(mobile) {
    display: none;
  }
}

@include breakpointMF(small-tablet) {
  body:has(.page-header__nav-list-item:hover .page-header__nav-sectors-dropdown)
    .header-overlay {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }

  body:has(.page-header__nav-list-item:hover .page-header__nav-sectors-dropdown)
    .page-header {
    background-color: #21170f;

    &::after {
      content: "";
      opacity: 1;
    }
  }
}

.page-header__content {
  @include blockContent;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: stretch;

  @include breakpoint(mobile) {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.page-header__logo {
  grid-column: 1 / 4;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-shrink: 0;
}

.page-header__logo-image {
  width: 12rem;
  height: auto;
  flex-shrink: 0;

  .page-header__logo--white & {
    // filter: invert(100%) contrast(100%) brightness(200%) grayscale(100%);
  }

  @include breakpoint(mobile) {
    width: 8rem;
  }
}

.page-header__logo-wrapper {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__logo-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #977e53;

  .page-header__logo--white & {
    color: white;
  }
}

.page-header__logo-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  color: #977e53;
  text-transform: uppercase;

  .page-header__logo--white & {
    color: white;
  }
}

.page-header__menu {
  display: contents;

  @include breakpoint(mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 70;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;
    background-color: #21170f;

    color: var(--text-color);
    padding: 0 var(--content-padding);
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-top: 2rem;

    .menu-open & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }

    body:not(.loaded) & {
      display: none;
    }
  }
}

.page-header__menu-header {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    justify-content: space-between;
    margin-bottom: 8rem;
  }
}

.page-header__menu-logo {
  flex-shrink: 0;
  display: block;
}

.page-header__menu-logo-image {
  width: 8rem;
  display: block;
  height: auto;

  @include breakpoint(mobile) {
    margin-top: 0.12rem;
    margin-left: 0.1rem;
  }
}

.page-header__menu-burger {
  flex-shrink: 0;
  margin-left: auto;

  width: 2.4rem;
  height: 2.4rem;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0.2rem;
    width: 3.4rem;
    background-color: #977e53;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.page-header__nav {
  grid-column: 5 / -1;
  display: flex;
  flex-direction: column;
  @include breakpoint(mobile) {
    margin-bottom: 3rem;
  }
}

.page-header__nav-list {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-gap: 2rem;
  flex-grow: 1;
  align-items: flex-start;

  @include breakpointMF(small-tablet) {
    &:has(.page-header__nav-list-item:hover)
      .page-header__nav-list-item:not(:hover) {
      .page-header__nav-link {
        color: rgba(white, 0.5);
      }
    }
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: stretch;
  }
}

.page-header__nav-sectors-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #21170f;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  @include blockWrapper;
  z-index: 80;
  margin-top: -1px;
  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__nav-sectors-dropdown-inner {
  padding-bottom: 4rem;
  border-top: 1px solid rgba(white, 0.1);
  @include blockContent;
}

.page-header__nav-sectors-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
}

.page-header__nav-sectors-image-tabs {
  position: relative;
  margin-top: 4rem;

  &:not(:has(.page-header__nav-sectors-image-tab.active))
    .page-header__nav-sectors-image-tab:first-child {
    z-index: 10;
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
    position: relative;
  }
}

.page-header__nav-sectors-image-tab {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  &.active {
    z-index: 10;
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
    position: relative;
  }
}

.page-header__nav-sectors-image {
  aspect-ratio: 890 / 376;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.page-header__nav-sectors-submenu-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  &:not(:has(.page-header__nav-sectors-submenu-list-item.active))
    .page-header__nav-sectors-submenu-list-item:first-child {
    .page-header__nav-sectors-submenu-link {
      color: white;
    }
  }
}

.page-header__nav-sectors-submenu-list-item {
  border-bottom: 1px solid rgba(white, 0.1);
  &:nth-child(odd) {
    border-right: 1px solid rgba(white, 0.1);
  }
}

.page-header__nav-sectors-submenu-link {
  display: block;
  padding: 3.42rem 4rem;
  padding-left: 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.09rem;
  text-transform: uppercase;
  font-family: var(--oswald);
  color: #977e53;

  &:link,
  &:visited {
    color: #977e53;
  }
  .page-header__nav-sectors-submenu-list-item:nth-child(even) & {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: white;
    }
  }
}

.page-header__nav-sectors-dropdown {
  display: none;
  @supports selector(:has(*)) {
    display: grid;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__nav-list-item {
  @include breakpointMF(small-tablet) {
    position: relative;

    &:has(.page-header__nav-sectors-dropdown) {
      position: static;
      align-self: stretch;
      margin-bottom: -3.5rem;
      padding-bottom: 3.5rem;
    }

    &:hover {
      .page-header__nav-submenu {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }

      .page-header__nav-link {
        text-decoration-color: transparent;
      }

      .page-header__nav-sectors-dropdown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }
    }
    &:nth-child(1) {
      grid-column: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 2 / 3;
      margin-left: -2rem;
    }
    &:nth-child(3) {
      grid-column: 3 / 4;
    }
    &:nth-child(4) {
      grid-column: 4 / 5;
    }
    &:nth-child(5) {
      grid-column: 5 / 6;
    }
    &:nth-child(6) {
      grid-column: 7 / 8;
    }
    &:nth-child(7) {
      grid-column: 8 / 9;
      justify-self: flex-end;
    }
  }

  @include breakpoint(mobile) {
    &:has(.page-header__nav-submenu) {
      .page-header__nav-link {
        &::after {
          content: "";
          flex-shrink: 0;
          width: 1.628rem;
          height: 0.832rem;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("../images/menu-arrow.svg");
          transform: rotate(180deg);
          transition: transform 0.2s;
        }
      }
    }

    &.open {
      .page-header__nav-link {
        &::after {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.page-header__nav-submenu {
  @include breakpointMF(small-tablet) {
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: 0.8rem;
    z-index: 40;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
  }

  @include breakpoint(mobile) {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;

    .open & {
      grid-template-rows: 1fr;
    }
  }
}

.page-header__nav-submenu-inner {
  @include breakpointMF(small-tablet) {
    background: #eee3da;
  }

  @include breakpoint(mobile) {
    overflow: hidden;
    grid-row: 1 / 2;
  }
}

.page-header__nav-submenu-list {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    gap: 1.6rem;
    padding-top: 1.5rem;
  }
}

.page-header__nav-submenu-list-item {
  @include breakpointMF(small-tablet) {
    border-bottom: 1px solid rgba(#6e4d31, 0.3);
    &:last-child {
      border: none;
    }
  }
}

.page-header__nav-submenu-link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.68rem */
  text-transform: uppercase;
  padding: 2rem;
  display: block;
  color: #6e4d31;
  &:link,
  &:visited {
    color: #6e4d31;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: rgba(#6e4d31, 0.5);
    }
  }

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 2.4rem */
    letter-spacing: -0.06rem;
    text-transform: uppercase;
    display: block;
    font-family: var(--oswald);
    color: rgba(white, 0.5);
    padding: 0;
    margin: 0;
    &:link,
    &:visited {
      color: rgba(white, 0.5);
    }
  }
}

.page-header__nav-link {
  @include breakpointMF(small-tablet) {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    width: min-content;
    transition: color 0.2s, text-decoration-color 0.2s, opacity 0.2s;

    width: auto;
  }

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    // letter-spacing: -0.05em;
    text-transform: uppercase;
    font-family: var(--oswald);
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}

.page-header__burger {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    flex-shrink: 0;
    gap: 0.8rem;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      display: block;
      height: 0.2rem;
      width: 3.4rem;
      background-color: #977e53;
      transition: opacity 0.2s, transform 0.2s;
    }
  }
}

.page-header__menu-contacts {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    margin-top: auto;
  }
}

.page-header__menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page-header__menu-contacts-item {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  b {
    font-weight: inherit;
    color: #977e53;
  }
}
