.park {
  background-color: #6e4d31;
  color: white;
  position: relative;
  z-index: 4;
  @include blockWrapper;
}

.park__content {
  @include blockContent;
}

.park__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;
  }
}

.park__text-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  padding-top: 4rem;
  padding-bottom: 3.5rem;
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.park__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  font-family: var(--oswald);
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-wrap: balance;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    line-height: 120%;
  }
}

.park__link {
  display: grid;
  place-items: center;
  text-align: center;
  align-self: flex-start;
  padding: 1.5rem 4rem;
  border: 1px solid #ffffff;
  border-radius: 7rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
  transition: color 0.2s, background-color 0.2s;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -1px;
    transition: transform 0.2s;
    transform-origin: center bottom;
    background-color: white;
    transform: scaleY(0);
  }
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color);
      &::before {
        transform: scaleY(1);
      }
    }
  }

  &:active {
    color: var(--primary-color);
    &::before {
      transform: scaleY(1);
    }
  }

  @include breakpoint(mobile) {
    padding: 1.5rem 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    order: 50;
    margin-top: -8rem;
  }
}

.park__image-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  @include breakpoint(mobile) {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    margin-top: 0rem;
  }
}

.park__image {
  height: 50.4rem;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  object-position: right center;
  margin-left: auto;

  @include breakpoint(mobile) {
    margin: 0;
    height: auto;
    width: 100%;
  }
}

.park__text {
  max-width: 44.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  text-transform: uppercase;
  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
  }
}
