.project-description {
  @include blockWrapper;
  position: relative;
  z-index: 4;
  background-color: #6e4d31;
  color: white;
}

.project-description__bg {
  position: absolute;
  z-index: -1;
  inset: 0;
}

.project-description__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-description__content {
  @include blockContent;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 2rem;
}

.project-description__text-content {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
}

.project-description__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #977e53;
}

.project-description__secondary-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 130%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: var(--oswald);
  margin-top: 9.5rem;
}

.project-description__text {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 140%;
  margin-top: 3rem;
}

.project-description__list {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.project-description__list-item {
  border-top: 1px solid rgba(white, 0.3);
}

.project-description__card {
  padding: 2.2rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-family: var(--oswald);
}
