.sectors {
  position: relative;
  z-index: 4;
  @include blockWrapper;
  background-color: #6e4d31;
  color: white;
}

.sectors__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.sectors__bg-items {
  position: absolute;
  inset: 0;
}

.sectors__bg-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 5;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  // }

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 10;
  }
}

.sectors__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectors__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include breakpoint(mobile) {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.sectors__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: -0.02em;
    margin-bottom: 8rem;
  }
}

.sectors__list {
  display: flex;
  flex-direction: column;

  &:has(.sectors__link.active) .sectors__link:not(.active) {
    color: rgba(white, 0.3);
  }
}

.sectors__list-item {
  &:first-child {
    border-top: 1px solid rgba(white, 0.3);
  }
  border-bottom: 1px solid rgba(white, 0.3);
}

.sectors__link {
  display: block;
  padding: 3rem 0;
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  font-family: var(--oswald);
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.2s;
  @include breakpoint(mobile) {
    text-align: center;
    padding: 2.6rem 0;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}

.sectors__show-all {
  display: grid;
  place-items: center;
  text-align: center;
  align-self: center;
  margin-top: 8rem;
  padding: 1.5rem 4rem;
  border: 1px solid white;
  border-radius: 4rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: white;
  transition: color 0.2s, background-color 0.2s;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -1px;
    transition: transform 0.2s;
    transform-origin: center bottom;
    background-color: white;
    transform: scaleY(0);
  }
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color);
      &::before {
        transform: scaleY(1);
      }
    }
  }

  &:active {
    color: var(--primary-color);
    &::before {
      transform: scaleY(1);
    }
  }

  @include breakpoint(mobile) {
    align-self: center;
    margin-top: 6rem;
    padding: 1.5rem 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-top: 4rem;
  }
}
